<AnimatedContainer>
    {{#animated-if
        @isShown
        use=this.animateTransition
        duration=this.animateDuration
        initialInsertion=this.animateInitialInsert
    }}
        <div class="alert alert-{{@type}} alert-dismissable" role="alert" ...attributes>
            {{#if @dissmissable}}
                <button onclick={{@onDismiss}} type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            {{/if}}
            {{#if (has-block)}}
                {{yield}}
            {{else}}
                <div class="d-flex">
                    {{#if @icon}}
                        <span class="mr-1">
                            <FaIcon @icon={{@icon}} @size="lg" />
                        </span>
                    {{/if}}
                    <span>
                        {{@message}}
                    </span>
                </div>
            {{/if}}
        </div>
    {{/animated-if}}
</AnimatedContainer>