<HeadLayout />
{{page-title "PEP"}}
<Progress::Bar class="app-progress-bar" @light={{true}} />
<div class="application-container">
    {{outlet "header"}}
    <div class="application-content">
        {{outlet "nav"}}
        {{outlet}}
        {{outlet "sidebar"}}
        <Page::Sidebar::Mask />
    </div>
    {{outlet "footer"}}
</div>
