<Progress::Bar class="app-progress-bar" @light={{true}} />
<div class="application-container">
    {{outlet "header"}}
    <div class="application-content">
        {{outlet "nav"}}
        {{outlet}}
        {{outlet "sidebar"}}
    </div>
    {{outlet "footer"}}
</div>
