<Progress::Bar class="app-progress-bar" @light={{true}} />
<div class="application-container">
    {{outlet "header"}}
    <div class="application-content">
        {{outlet "nav"}}
        {{outlet}}
        {{outlet "sidebar"}}
        {{#if (and this.sidebar.hasOpenSidebar (or this.media.isMobile this.media.isTablet))}}
            <div class="sidebar-mask" {{on "click" this.closeSidebars}}></div>
        {{/if}}
    </div>
    {{outlet "footer"}}
</div>
