<div class="py-3 px-4">
    <div class="card">
        <div class="card-body">
            {{#if (eq this.selectedView.id this.tableView)}}
                <Tables::Search
                    @rows={{this.paginator.models}}
                    @hasMoreRows={{this.paginator.hasMore}}
                    @loadMoreRows={{this.paginator.loadMoreModels}}
                    @isLoading={{this.paginator.isLoadingModels}}
                    @updateSorts={{this.paginator.changeSorting}}
                    @sorts={{this.paginator.sorts}}
                    @showHitsInContext={{this.currentUser.preferences.searchHICEnabled}}
                    @openPreview={{this.openResult}}
                    @renderAll={{or this.fastboot.isFastBoot this.isPrinting}}
                />
            {{else}}
                <VerticalCollection
                    @items={{this.paginator.models}}
                    @tagName="ul"
                    @containerSelector=".page-content-inner"
                    @class="list-unstyled"
                    @estimateHeight={{100}}
                    @renderAll={{or this.fastboot.isFastBoot this.isPrinting}}
                    @lastReached={{this.paginator.loadMoreModels}} as |result|
                >
                    <Search::Item::Bibliographic @item={{result}} @openResult={{this.openResult}} />
                </VerticalCollection>
                {{#if this.paginator.isLoadingModels}}
                    <Loading::Spinner @options={{hash text=(t "common.loadingResults")}} />
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>