{{page-title (t "read.title" title=this.document.title)}}
<Page::Content {{register-keyboard-shortcuts shortcuts=this.shortcuts}}>
    <div class="pb-3 px-4">
        <div class="sticky-top bg-body py-2">
            <div class="d-flex justify-content-between align-items-center">
                <p class="small text-muted {{if this.document.accessLimited " mb-2" " mb-0"}}">
                    {{this.document.documentRef}}
                </p>
                <div class="d-flex align-items-center">
                    {{!-- template-lint-disable simple-unless --}}
                    {{#if this.document.canDownload}}
                        <div class="flex-shrink-0">
                            <Document::Actions::Download @document={{this.document}} @iconOnly={{true}} />
                            <Document::Actions::Print @id={{this.document.id}} />
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <Document::Read
            @model={{this.document}}
            @page={{this.page}}
            @onAuthenticated={{this.onAuthenticated}}
            @viewablePageUpdate={{this.viewablePageUpdate}}
        />
    </div>
</Page::Content>