{{page-title (t "read.title" title=this.document.title)}}
<Page::Content {{register-keyboard-shortcuts shortcuts=this.shortcuts}} @scrollable={{false}} class="page-content-sectioned">
    <div class="read-content-container page-content-section flex-fill">
        <Scrollable @namespace="read-content-container" class="page-content-inner pb-3 px-4 ">
            <div class="sticky-top bg-body py-2">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="small text-muted {{if this.document.accessLimited " mb-2" " mb-0"}} flex-grow-1">
                        {{this.document.documentRef}}
                    </p>
                    <div class="d-flex align-items-center">
                        {{#if this.hasDiscussionEnabled}}
                            <Button::WithTooltip
                                @action={{this.toggleComments}}
                                @type="link"
                                @icon="comments"
                                @iconSize="lg"
                                @iconPrefix={{if this.discussionVisible 'fas' 'fal'}}
                                @tooltip={{if @enabled (t "common.print") (html-safe this.configuration.content.global.access.print.help)}}
                                class="p-1"
                            />
                        {{/if}}
                        <Document::Actions::Download @document={{this.document}} @iconOnly={{true}} @enabled={{this.document.canDownload}} />
                        <Document::Actions::Print @id={{this.document.id}} @enabled={{this.document.canDownload}} />
                    </div>
                </div>
            </div>
            <Document::Read
                @model={{this.document}}
                @page={{this.page}}
                @onAuthenticated={{this.onAuthenticated}}
                @viewablePageUpdate={{this.viewablePageUpdate}}
            />
        </Scrollable>
    </div>
    {{#if (and this.hasDiscussionEnabled this.discussionVisible)}}
        <div class="page-content-section">
            <DraggableContainer @close={{this.toggleComments}}>
                <Disqus::Comments @identifier={{this.document.id}}/>
            </DraggableContainer>
        </div>
    {{/if}}
</Page::Content>
