<div class="primary-bg border-divider-b border-divider-t p-3" ...attributes>
    <h5>
        {{t "search.refine.heading"}}
    </h5>
    {{#if this.groups}}
        <p class="text-muted">
            {{t "search.refine.instructions"}}
        </p>
        <ul class="list-unstyled">
            {{#each this.groups as |group|}}
                <li>
                    <div>
                        <strong>
                            {{group.label}}
                        </strong>
                    </div>
                    <ul class="list-unstyled ml-3 mb-2">
                        {{#each group.visibleOptions as |option|}}
                            <Search::Refine::Option
                                @facetId={{group.id}}
                                @option={{option}}
                                @selection={{@selection}}
                                @onFacetChange={{this.onFacetChange}}
                            />
                        {{/each}}
                        {{#if group.hiddenOptions.length}}
                            {{#if (contains group.id this.expandedGroups)}}
                                {{#each group.hiddenOptions as |option|}}
                                    <Search::Refine::Option
                                        @facetId={{group.id}}
                                        @option={{option}}
                                        @selection={{@selection}}
                                        @onFacetChange={{this.onFacetChange}}
                                    />
                                {{/each}}
                                <li>
                                    <Button
                                        @type="link"
                                        @label={{t "search.refine.showLess"}}
                                        @icon="chevron-up"
                                        @iconFixedWidth={{true}}
                                        @action={{fn this.toggleGroup group.id}}
                                        class="p-0"
                                    />
                                </li>
                            {{else}}
                                <li>
                                    <Button
                                        @type="link"
                                        @label={{t "search.refine.showAll"}}
                                        @icon="chevron-down"
                                        @iconFixedWidth={{true}}
                                        @action={{fn this.toggleGroup group.id}}
                                        class="p-0"
                                    />
                                </li>
                            {{/if}}
                        {{/if}}
                    </ul>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p class="text-muted text-center p-4">
            {{t "search.refine.none"}}
        </p>
    {{/if}}
</div>