<CollapsiblePanel
    @title={{t "relatedInfo.widgets.whatsNew.title"}}
    @isOpen={{this.isOpen}}
    @toggle={{fn (mut this.isOpen)}}
    class="mb-2"
    {{did-insert this.onElementInsert}}
    ...attributes
>
    {{#if this.isLoading}}
        <Progress::Spinner />
    {{else}}
        <ul class="list-unstyled">
            {{#each this.results as |result|}}
                <li class="mb-2">
                    <div>
                        {{html-safe result.displayTitle}}
                    </div>
                    <div class="text-muted small">
                        {{html-safe
                            (t "relatedInfo.widgets.whatsNew.issue"
                                issueNum=result.issue
                                volNum=result.volume
                                updatedDate=(moment-format result.updated "MMMM Do, YYYY")
                            )
                        }}
                    </div>
                </li>
            {{else}}
                <li class="py-3 mb-0 text-center text-muted">
                    {{t "common.noResults"}}
                </li>
            {{/each}}
        </ul>
    {{/if}}
</CollapsiblePanel>
