<nav class="navbar navbar-expand fixed-top navbar-dark bg-gradient-primary">
    <LinkTo @route="index" class="navbar-brand d-flex">
        <div class="navbar-brand-logo"></div>
        <div class="ml-2">
            <div>Psychoanalytic</div>
            <div>Electronic</div>
            <div>Publishing</div>
        </div>
    </LinkTo>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <LinkTo
                @route="search"
                @query={{hash
                    q=""
                    matchSynonyms=false
                    searchTerms=this.defaultSearchTerms
                    facets=this.defaultSearchFacets
                }}
                class="nav-link"
            >
                Search
            </LinkTo>
        </li>
        {{!-- TODO project reqs state that there should be a "Read" nav item         --}}
        {{!-- but where does it go/show? Seems like it would be redundant w/"Browse" --}}
        {{!-- <li class="nav-item">
            <LinkTo @route="read" class="nav-link">
                Read
            </LinkTo>
        </li> --}}
        <li class="nav-item">
            <LinkTo @route="browse" class="nav-link">
                Browse
            </LinkTo>
        </li>
        <li class="nav-item">
            <LinkTo @route="index" class="nav-link">
                <FaIcon @icon="home" @size="lg" />
            </LinkTo>
        </li>
        <li class="nav-item">
            <DropdownMenu @horizontalPosition="auto-right" as |DD|>
                <DD.Trigger @htmlTag="a" class="nav-link">
                    <FaIcon @icon="user" @size="lg" />
                </DD.Trigger>
                <DD.Content class="dropdown-menu">
                    <DropdownAction @dd={{DD}} @action={{this.openPreferencesModal}}>
                        <FaIcon @icon="cog" @fixedWidth={{true}} class="text-muted" />
                        Preferences
                    </DropdownAction>
                    <DropdownAction @dd={{DD}}>
                        <FaIcon @icon="question-square" @fixedWidth={{true}} class="text-muted" />
                        Help
                    </DropdownAction>
                    <DropdownAction @dd={{DD}}>
                        <FaIcon @icon="comment-exclamation" @fixedWidth={{true}} class="text-muted" />
                        Report a problem
                    </DropdownAction>
                    <div class="dropdown-divider"></div>
                    {{#if this.session.isAuthenticated}}
                        <DropdownAction @dd={{DD}} @action={{this.logout}}>
                            <FaIcon @icon="sign-out" @fixedWidth={{true}} class="text-muted" />
                            Logout
                        </DropdownAction>
                    {{else}}
                        <DropdownAction @dd={{DD}} @action={{this.openLoginModal}}>
                            <FaIcon @icon="sign-in" @fixedWidth={{true}} class="text-muted" />
                            Login
                        </DropdownAction>
                    {{/if}}
                </DD.Content>
            </DropdownMenu>
        </li>
    </ul>
</nav>
