{{page-title (t "search.title")}}
<div class="page-content page-content-sectioned">
    <div class="page-content-section flex-fill">
        <Scrollable class="page-content-inner">
            {{#if (and (not this.model) this.isLoadingPage)}}
                <div class="d-flex align-items-center py-3 px-4">
                    <Progress::Spinner class="mr-1" />
                    <span class="text-muted">{{t "common.loadingResults"}}</span>
                </div>
            {{else}}
                {{#if this.noResults}}
                    <div class="d-flex justify-content-center align-items-center">
                        {{#if this.hasSubmittedSearch}}
                            <div class="m-3 m-md-5 text-muted">
                                <p class="my-4 p-3 bg-backdrop-well rounded">
                                    {{t "search.results.none"}}
                                </p>
                                <p class="d-lg-none mb-4">
                                    <Button
                                        @type="primary"
                                        @size="lg"
                                        @blockLayout={{this.media.isMobile}}
                                        @icon="search"
                                        @label={{t "search.new"}}
                                        @action={{this.showSearch}}
                                    />
                                </p>
                            </div>
                        {{else}}
                            <div class="m-3 m-md-5 p-3 bg-backdrop-well rounded text-muted">
                                <h5>{{t "search.empty.heading"}}</h5>
                                <p class="mb-4">
                                    <FaIcon @icon="arrow-left" />
                                    {{t "search.empty.instructions"}}
                                </p>
                                <p class="d-lg-none mb-4">
                                    <Button
                                        @type="primary"
                                        @size="lg"
                                        @blockLayout={{this.media.isMobile}}
                                        @icon="search"
                                        @label={{t "search.new"}}
                                        @action={{this.showSearch}}
                                    />
                                </p>
                                <h5>{{t "search.empty.tips.heading"}}</h5>
                                <p>
                                    {{t "search.empty.tips.instructions"}}
                                </p>
                                <ul>
                                    <li>{{t "search.empty.tips.tip1" htmlSafe=true}}</li>
                                    <li>{{t "search.empty.tips.tip2" htmlSafe=true}}</li>
                                    <li>{{t "search.empty.tips.tip3" htmlSafe=true}}</li>
                                    <li>{{t "search.empty.tips.tip4" htmlSafe=true}}</li>
                                    <li>{{t "search.empty.tips.tip5" htmlSafe=true}}</li>
                                    <li>{{t "search.empty.tips.tip6" htmlSafe=true}}</li>
                                </ul>
                            </div>
                        {{/if}}
                    </div>
                {{else}}
                    <div class="py-3 px-4">
                        <div class="d-md-flex justify-content-between align-items-center mb-3">
                            <h4 class="mb-0">
                                {{t
                                    "common.numResults"
                                    count=(format-number (or this.metadata.fullCount 0))
                                    htmlSafe=true
                                }}
                            </h4>
                            <div class="d-flex align-items-center">
                                <Button
                                    @type="link"
                                    class="text-decoration-none p-1 mr-1"
                                >
                                    <span class="text-muted">{{t "search.sort.label"}}</span>
                                    <span class="text-dark mr-1">{{t "search.sort.year"}}</span>
                                    <FaIcon @icon="angle-down" class="text-muted" />
                                </Button>
                                <Button
                                    @type="link"
                                    class="text-decoration-none p-1 mr-2"
                                >
                                    <span class="text-muted">{{t "search.view.label"}}</span>
                                    <span class="text-dark mr-1">{{t "search.view.biblio"}}</span>
                                    <FaIcon @icon="angle-down" class="text-muted" />
                                </Button>
                                <Button
                                    @type="link"
                                    @icon="download"
                                    @iconSize="lg"
                                    title={{t "common.export"}}
                                    class="p-1"
                                />
                                <Button
                                    @type="link"
                                    @icon="print"
                                    @iconSize="lg"
                                    title={{t "common.print"}}
                                    class="p-1"
                                />
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <VerticalCollection
                                    @items={{this.model}}
                                    @tagName="ul"
                                    @containerSelector=".page-content-inner"
                                    @class="list-unstyled"
                                    @estimateHeight={{100}}
                                    @lastReached={{this.loadNextPage}}
                                    as |result|
                                >
                                    <li class="mb-4">
                                        <a href="" {{on "click" (fn this.openResultPreview result)}}>
                                            {{result.documentRef}}
                                        </a>
                                        {{#if result.kwicList}}
                                            <ul class="small">
                                                {{#each result.kwicList as |searchHit|}}
                                                    <li>{{html-safe searchHit}}</li>
                                                {{/each}}
                                            </ul>
                                        {{/if}}
                                    </li>
                                </VerticalCollection>
                                {{#if this.isLoadingPage}}
                                    <div class="d-flex align-items-center">
                                        <Progress::Spinner class="mr-1" />
                                        <span class="text-muted">{{t "common.loadingResults"}}</span>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/if}}
            {{/if}}
        </Scrollable>
    </div>
    <Search::Preview
        @result={{this.previewedResult}}
        @queryParams={{hash
            q=this.q
            matchSynonyms=this.matchSynonyms
            searchTerms=this._searchTerms
            facets=this._facets
        }}
        @mode={{this.previewMode}}
        @setMode={{this.setPreviewMode}}
        @close={{this.closeResultPreview}}
        @containerSelector=".page-content"
        class="page-content-section"
    />
</div>
