{{page-title (t "search.title")}}
<div
    class="page-content page-content-sectioned"
    {{did-insert this.updateContainerMaxHeight}}
    {{did-resize this.updateContainerMaxHeight debounce=250}}
>
    <div class="page-content-section flex-fill">
        <Scrollable @namespace="search-results" class="page-content-inner">
            {{#if this.paginator.models}}
                <div class="sticky-top">
                    <div class="py-3 px-4 bg-backdrop">
                        <div class="d-md-flex justify-content-between align-items-center py-1">
                            <h4 class="mb-0 text-truncate">
                                {{t
                                    "common.numResults"
                                    count=(format-number (or this.paginator.metadata.fullCount 0))
                                    htmlSafe=true
                                }}
                                {{#if this.paginator.metadata.description}}
                                    <span class="text-muted">
                                        {{t "search.description" description=this.paginator.metadata.description}}
                                    </span>
                                {{/if}}
                            </h4>
                            <div>
                                <div class="d-flex align-items-center flex-wrap flex-md-nowrap">
                                    <div class="search-results-control">
                                        <CheckboxInput
                                            @checked={{this.currentUser.preferences.searchHICEnabled}}
                                            @onChange={{this.updateHitsInContext}}
                                            @label={{t "search.hitsInContext.label.short"}}
                                        />
                                        <HelpTooltip
                                            @tooltip={{t "search.hitsInContext.help"}}
                                            class="search-results-control-help"
                                        />
                                    </div>
                                    <div class="search-results-control">
                                        <div class="d-flex align-items-center">
                                            <span class="search-results-control-label text-muted">
                                                {{t "search.sort.label"}}
                                            </span>
                                            <select
                                                class="custom-select custom-select-sm text-truncate"
                                                {{on "change" this.updateSort}}
                                            >
                                                {{#each this.sorts as |sort|}}
                                                    <option
                                                        value={{sort.id}}
                                                        selected={{eq sort.id this.selectedSort.id}}
                                                    >
                                                        {{sort.label}}
                                                    </option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="search-results-control">
                                        <div class="d-flex align-items-center">
                                            <span class="search-results-control-label text-muted">
                                                {{t "search.view.label"}}
                                            </span>
                                            <select
                                                class="custom-select custom-select-sm text-truncate"
                                                {{on "change" this.updateSelectedView}}
                                            >
                                                {{#each this.searchViews as |view|}}
                                                    <option
                                                        value={{view.id}}
                                                        selected={{eq view.id this.selectedView.id}}
                                                    >
                                                        {{view.label}}
                                                    </option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <DropdownMenu @horizontalPosition="auto-right" as |DD|>
                                            <DD.Trigger @htmlTag="a" class="p-1">
                                                <FaIcon @icon="download" @size="lg" />
                                            </DD.Trigger>
                                            <DD.Content class="dropdown-menu">
                                                <DropdownAction @dd={{DD}} @action={{this.exportCSV}}>
                                                    {{t "search.exports.csv"}}
                                                </DropdownAction>
                                                <DropdownAction @dd={{DD}} @action={{this.exportCSV}}>
                                                    {{t "search.exports.ris"}}
                                                </DropdownAction>
                                            </DD.Content>
                                        </DropdownMenu>
                                        <CopyButton
                                            class="p-1 btn btn-link"
                                            @success={{this.clipboardSuccess}}
                                            @error={{this.clipboardFailure}}
                                            @clipboardText={{this.exportClipboard}}
                                        >
                                            <FaIcon @icon="clipboard" @size="lg" />
                                        </CopyButton>
                                        <Button
                                            @action={{this.print}}
                                            @type="link"
                                            @icon="print"
                                            @iconSize="lg"
                                            @tooltip={{t "common.print"}}
                                            class="p-1"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
            {{#if (and (not this.paginator.models) this.paginator.isLoadingModels)}}
                <div class="py-3 px-4">
                    <Loading::Search::Results />
                </div>
            {{else}}
                {{#if this.noResults}}
                    <div class="d-flex justify-content-center align-items-center">
                        {{#if this.hasSubmittedSearch}}
                            <div class="m-3 m-md-5 text-muted">
                                <p class="my-4 p-3 bg-backdrop-well rounded">
                                    {{t "search.results.none"}}
                                </p>
                                <p class="d-lg-none mb-4">
                                    <Button
                                        @type="primary"
                                        @size="lg"
                                        @blockLayout={{this.fastbootMedia.isMobile}}
                                        @icon="search"
                                        @label={{t "search.new"}}
                                        @action={{this.showSearch}}
                                    />
                                </p>
                            </div>
                        {{else}}
                            <div class="m-3 m-md-5 p-3 bg-backdrop-well rounded text-muted">
                                <h5>
                                    {{t "search.empty.heading"}}
                                </h5>
                                <p class="mb-4">
                                    <FaIcon @icon="arrow-left" />
                                    {{t "search.empty.instructions"}}
                                </p>
                                <p class="d-lg-none mb-4">
                                    <Button
                                        @type="primary"
                                        @size="lg"
                                        @blockLayout={{this.fastbootMedia.isMobile}}
                                        @icon="search"
                                        @label={{t "search.new"}}
                                        @action={{this.showSearch}}
                                    />
                                </p>
                                <h5>
                                    {{t "search.empty.tips.heading"}}
                                </h5>
                                <p>
                                    {{t "search.empty.tips.instructions"}}
                                </p>
                                <ul>
                                    <li>
                                        {{t "search.empty.tips.tip1" htmlSafe=true}}
                                    </li>
                                    <li>
                                        {{t "search.empty.tips.tip2" htmlSafe=true}}
                                    </li>
                                    <li>
                                        {{t "search.empty.tips.tip3" htmlSafe=true}}
                                    </li>
                                    <li>
                                        {{t "search.empty.tips.tip4" htmlSafe=true}}
                                    </li>
                                    <li>
                                        {{t "search.empty.tips.tip5" htmlSafe=true}}
                                    </li>
                                    <li>
                                        {{t "search.empty.tips.tip6" htmlSafe=true}}
                                    </li>
                                </ul>
                            </div>
                        {{/if}}
                    </div>
                {{else}}
                    <div class="py-3 px-4">
                        <div class="card">
                            <div class="card-body">
                                {{#if (eq this.selectedView.id this.tableView)}}
                                    <Tables::Search
                                        @containerSelector=".page-content-inner"
                                        @rows={{this.paginator.models}}
                                        @hasMoreRows={{this.paginator.hasMore}}
                                        @loadMoreRows={{this.paginator.loadMoreModels}}
                                        @isLoading={{this.paginator.isLoadingModels}}
                                        @updateSorts={{this.paginator.changeSorting}}
                                        @sorts={{this.tableSorts}}
                                        @showHitsInContext={{this.currentUser.preferences.searchHICEnabled}}
                                        @onLinkClick={{this.openResult}}
                                        @renderAll={{this.fastboot.isFastBoot}}
                                    />
                                {{else}}
                                    <VerticalCollection
                                        @items={{this.paginator.models}}
                                        @tagName="ul"
                                        @containerSelector=".page-content-inner"
                                        @class="list-unstyled"
                                        @estimateHeight={{100}}
                                        @renderAll={{this.fastboot.isFastBoot}}
                                        @lastReached={{this.paginator.loadMoreModels}} as |result|
                                    >
                                        <Search::Item::Bibliographic
                                            @item={{result}}
                                            @openResult={{this.openResult}}
                                            @showHitsInContext={{this.currentUser.preferences.searchHICEnabled}}
                                        />
                                    </VerticalCollection>
                                    {{#if this.paginator.isLoadingModels}}
                                        <Loading::Spinner @options={{hash text=(t "common.loadingResults")}} />
                                    {{/if}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/if}}
            {{/if}}
        </Scrollable>
    </div>
    <Search::Preview
        @result={{this.previewedResult}}
        @queryParams={{this.readQueryParms}}
        @mode={{this.previewMode}}
        @setMode={{this.setPreviewMode}}
        @close={{this.closeResultPreview}}
        @maxHeight={{this.containerMaxHeight}}
        class="page-content-section"
    />
</div>