<nav class="navbar navbar-expand fixed-top navbar-dark bg-gradient-primary" ...attributes>
    <LinkTo @route="index" class="navbar-brand mr-auto d-flex">
        <div class="navbar-brand-logo"></div>
        <div class="ml-2">
            <div>
                {{t "brand.nameFull.psychoanalytic"}}
            </div>
            <div>
                {{t "brand.nameFull.electronic"}}
            </div>
            <div>
                {{t "brand.nameFull.publishing"}}
            </div>
        </div>
    </LinkTo>
    <button
        type="button"
        class="navbar-toggler d-block d-md-none"
        aria-controls="page-drawer"
        aria-expanded={{this.drawer.isOpen}}
        aria-label={{t "nav.toggle"}}
        {{on "click" this.toggleDrawer}}
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav d-none d-md-flex">
        <li class="nav-item">
            <LinkTo @route="search" class="nav-link">
                {{t "nav.search"}}
            </LinkTo>
        </li>
        <li class="nav-item">
            <LinkTo @route="read" @disabled={{this.readDisabled}} class="nav-link">
                {{t "nav.read"}}
            </LinkTo>
        </li>
        <li class="nav-item">
            <LinkTo @route="browse" class="nav-link">
                {{t "nav.browse"}}
            </LinkTo>
        </li>
        <li class="nav-item home">
            <LinkTo @route="index" class="nav-link">
                <FaIcon @icon="home" @size="lg" />
            </LinkTo>
        </li>
        <li class="nav-item">
            <DropdownMenu @horizontalPosition="auto-right" as |DD|>
                <DD.Trigger @htmlTag="a" class="nav-link">
                    <FaIcon @icon="question" @size="lg" />
                </DD.Trigger>
                <DD.Content class="dropdown-menu">
                    <a
                        href={{this.supportUrl}}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="dropdown-action dropdown-item"
                        {{on "click" DD.actions.close}}
                    >
                        <FaIcon @icon="external-link" @fixedWidth={{true}} class="text-muted" />
                        {{t "nav.support.link"}}
                    </a>
                    <DropdownAction @dd={{DD}} @action={{this.openReportDataErrorModal}}>
                        <FaIcon @icon="comment-exclamation" @fixedWidth={{true}} class="text-muted" />
                        {{t "nav.support.reportDataError"}}
                    </DropdownAction>
                    <DropdownAction @dd={{DD}} @action={{this.openFeedbackModal}}>
                        <FaIcon @icon="comment-lines" @fixedWidth={{true}} class="text-muted" />
                        {{t "nav.support.provideFeedback"}}
                    </DropdownAction>
                    <DropdownAction @dd={{DD}} @action={{this.openHelpModal}}>
                        <FaIcon @icon="hands-helping" @fixedWidth={{true}} class="text-muted" />
                        {{t "nav.support.preferences"}}
                    </DropdownAction>
                </DD.Content>
            </DropdownMenu>
        </li>
        <li class="nav-item">
            <DropdownMenu @horizontalPosition="auto-right" as |DD|>
                <DD.Trigger @htmlTag="a" class="nav-link">
                    <FaIcon @icon="user" @size="lg" />
                </DD.Trigger>
                <DD.Content class="dropdown-menu">
                    <DropdownAction @dd={{DD}} @action={{this.openPreferencesModal}}>
                        <FaIcon @icon="cog" @fixedWidth={{true}} class="text-muted" />
                        {{t "nav.user.preferences"}}
                    </DropdownAction>
                    <DropdownAction @dd={{DD}} @action={{@openAboutModal}}>
                        <FaIcon @icon="info-square" @fixedWidth={{true}} class="text-muted" />
                        {{t "nav.user.about"}}
                    </DropdownAction>
                    <div class="dropdown-divider"></div>
                    {{#if this.session.isAuthenticated}}
                        <div class="py-1 px-4">
                            {{#if this.session.canLogOut}}
                                {{this.currentUser.user.userName}}
                            {{else}}
                                {{t "nav.user.loggedInViaIP"}}
                            {{/if}}
                        </div>
                        <DropdownAction @dd={{DD}} @action={{this.openAccountInfoModal}}>
                            <FaIcon @icon="info-circle" @fixedWidth={{true}} class="text-muted" />
                            {{t "nav.user.accountInfo"}}
                        </DropdownAction>
                        {{#if this.session.canLogOut}}
                            <DropdownAction @dd={{DD}} @action={{this.logout}}>
                                <FaIcon @icon="sign-out" @fixedWidth={{true}} class="text-muted" />
                                {{t "nav.user.logout"}}
                            </DropdownAction>
                        {{/if}}
                    {{else}}
                        <DropdownAction @dd={{DD}} @action={{this.openLoginModal}}>
                            <FaIcon @icon="sign-in" @fixedWidth={{true}} class="text-muted" />
                            {{t "nav.user.login"}}
                        </DropdownAction>
                    {{/if}}
                </DD.Content>
            </DropdownMenu>
        </li>
    </ul>
</nav>