<ModalDialog @onClose={{@onClose}} @size="md" @clickOutsideToClose={{false}} as |Modal|>
    <Modal.header @title={{t "accountInfo.title"}} />
    <Modal.body>
        <div class="mb-2">
            <h5>
                {{t "accountInfo.registeredUser.title"}}
            </h5>
            <p class="text-muted font-size-secondary mb-0">
                {{t "accountInfo.registeredUser.username" username=this.currentUser.user.userName}}
            </p>
            {{#unless this.currentUser.canLogOut}}
                <p class="text-muted font-size-secondary mb-0">
                    {{this.currentUser.user.loggedInLabel}}
                </p>
            {{/unless}}
            <p class="text-muted font-size-secondary mb-0">
                {{t "accountInfo.registeredUser.name" name=this.currentUser.user.userFullName}}
            </p>
            <p class="text-muted font-size-secondary">
                {{t "accountInfo.registeredUser.email" email=this.currentUser.user.emailAddress}}
            </p>
        </div>
        {{#if this.currentUser.user.activeSubscriptionsJSON.length}}
            <div class="mb-2">
                <h5>
                    {{t "accountInfo.activeSubscriptions.title"}}
                </h5>
                <div class="mb-3">
                    {{#each this.currentUser.user.activeSubscriptionsJSON as |subscription|}}
                        <p class="text-muted font-size-secondary mb-0">
                            {{t
                                "accountInfo.activeSubscriptions.subscription"
                                product=subscription.ProductName
                                start=subscription.RecurringSubscriptionStartDate
                                end=subscription.RecurringSubscriptionEndDate
                            }}
                        </p>
                    {{/each}}
                </div>
            </div>
        {{/if}}
    </Modal.body>
    <Modal.footer>
        {{#if this.currentUser.user.paDSHomeURL}}
            <Button @type="link" @label={{t "accountInfo.makeChangesOnPads"}} @action={{this.openPadsTab}} />
        {{/if}}
        <Button @type="primary" @label={{t "common.close"}} @action={{@onClose}} />
    </Modal.footer>
</ModalDialog>