<CollapsiblePanel
    @scrollableNamespace="sidebar-right"
    @isOpen={{this.isOpen}}
    @toggle={{fn @toggleIsOpen this.widget}}
    class="mb-2" as |Panel|
>
    <Panel.header
        @title={{t "relatedInfo.widgets.topicalVideoPreview.title"}}
        @tooltip={{this.configuration.content.global.cards.topicalVideoPreview.help}}
    />
    <Panel.body class="p-1">
        <div class="embed-responsive embed-responsive-{{this.aspectRatio}}">
            <video
                id="topical-video-preview"
                controls="controls"
                preload="metadata"
                class="embed-responsive-item"
                crossorigin="anonymous"
                poster={{this.videoPreviewThumbnail}}
            >
                <source src="{{this.video.url}}" type="video/mp4" />
            </video>
        </div>
    </Panel.body>
</CollapsiblePanel>