<Page::Content>
    <div class="pb-3 px-4">
        <div class="sticky-top bg-backdrop py-2">
            <div
                class="d-flex


                    {{if this.paginator.metadata.fullCount "justify-content-between" "justify-content-end"}}


                     align-items-center mb-2"
            >
                {{#if (and this.showBackButton this.paginator.metadata.fullCount)}}
                    <LinkTo
                        @route="search"
                        @query={{hash
                            q=this.q
                            matchSynonyms=this.matchSynonyms
                            searchTerms=this._searchTerms
                            facets=this._facets
                        }}
                    >
                        <FaIcon @icon="arrow-left" />
                        {{t "read.document.backToSearch"}}
                    </LinkTo>
                {{/if}}
                {{! Removing paging for now }}
                {{!-- <div class="ml-2 d-flex align-items-center">
                <Button @type="link" @icon="chevron-left" @iconOnly={{true}} class="py-0 px-2 text-muted" />
                <div class="input-group input-group-minimal mx-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="doc-page-control-label">
                            {{t "read.document.page"}}
                        </span>
                    </div>
                    <input
                        type="number"
                        min={{1}}
                        max={{this.lastPage}}
                        value={{this.currentPage}}
                        class="form-control text-center"
                        maxlength="255"
                        aria-label={{t "read.document.page"}}
                        aria-describedby="doc-page-control-label"
                    />
                </div>
                <Button @type="link" @icon="chevron-right" @iconOnly={{true}} class="py-0 px-2 text-muted" />
            </div> --}}
            </div>
            <p class="small text-muted mb-0">
                {{this.model.documentRef}}
            </p>
        </div>
        <div class="card">
            <div class="card-body">
                <Alert @isShown={{this.model.accessLimited}} @type="warning">
                    {{#if this.model.noAccessMessage}}
                        <p class={{if this.session.isAuthenticated "mb-0"}}>
                            {{html-safe this.model.noAccessMessage}}
                        </p>
                    {{/if}}
                    {{#unless this.session.isAuthenticated}}
                        <p class="mb-0">
                            {{t "read.document.loginToRead"}}
                            <a href="" {{on "click" this.login}}>
                                {{t "read.document.login"}}
                            </a>
                            .
                        </p>
                    {{/unless}}
                </Alert>
                <div class="pep-document-content">
                    <ContentWithPlaceholder @placeholderInFastboot={{true}}>
                        <Document::Text
                            @document={{this.model}}
                            @onGlossaryItemClick={{this.viewGlossaryTerm}}
                            @page={{this.page}}
                            @readQueryParams={{this.readQueryParams}}
                            @viewSearch={{this.viewSearch}}
                        />
                    </ContentWithPlaceholder>
                </div>
            </div>
        </div>
    </div>
</Page::Content>