<Page::Content>
    <div class="pb-3 px-4">
        <div class="sticky-top bg-backdrop py-2">
            <div
                class="d-flex


                    {{if
                        (and this.showBackButton this.paginator.metadata.fullCount)
                        "justify-content-between"
                        "justify-content-end"
                    }}


                     align-items-center mb-2"
            >
                {{#if (and this.showBackButton this.paginator.metadata.fullCount)}}
                    <LinkTo
                        @route="search"
                        @query={{hash
                            q=this.q
                            matchSynonyms=this.matchSynonyms
                            searchTerms=this._searchTerms
                            facets=this._facets
                        }}
                    >
                        <FaIcon @icon="arrow-left" />
                        {{t "read.document.backToSearch"}}
                    </LinkTo>
                {{/if}}
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <p class="small text-muted {{~if this.model.accessLimited " mb-2" " mb-0"}}">
                    {{this.model.documentRef}}
                </p>
                {{#unless this.model.accessLimited}}
                    <div>
                        <DropdownMenu @horizontalPosition="auto-right" as |DD|>
                            <DD.Trigger @htmlTag="button" class="btn btn-link px-2">
                                <FaIcon @icon="download" @size="lg" @prefix="fas" />
                            </DD.Trigger>
                            <DD.Content class="dropdown-menu">
                                <DropdownAction @dd={{DD}} @action={{fn this.downloadDocument this.downloadUrlEpub}}>
                                    {{t "search.preview.download.ePub"}}
                                </DropdownAction>
                                <DropdownAction @dd={{DD}} @action={{fn this.downloadDocument this.downloadUrlPdf}}>
                                    {{t "search.preview.download.pdf"}}
                                </DropdownAction>
                                <DropdownAction @dd={{DD}} @action={{fn this.downloadDocument this.downloadUrlPdfOrig}}>
                                    {{t "search.preview.download.pdfOrig"}}
                                </DropdownAction>
                            </DD.Content>
                        </DropdownMenu>

                        <Button
                            @action={{this.printDocument}}
                            @type="link"
                            @icon="print"
                            @iconPrefix="fas"
                            @iconSize="lg"
                            @tooltip={{t "common.print"}}
                            class="p-1"
                        />
                    </div>
                {{/unless}}
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <Alert @isShown={{this.model.accessLimited}} @type="warning">
                    {{#if this.model.noAccessMessage}}
                        <p class={{if this.session.isAuthenticated "mb-0"}}>
                            {{html-safe this.model.noAccessMessage}}
                        </p>
                    {{/if}}
                    {{#unless this.session.isAuthenticated}}
                        <p class="mb-0">
                            {{t "read.document.loginToRead"}}
                            <a href="" {{on "click" this.login}}>
                                {{t "read.document.login"}}
                            </a>
                            .
                        </p>
                    {{/unless}}
                </Alert>
                <div class="pep-document-content" id="read-document">
                    <ContentWithPlaceholder @placeholderInFastboot={{true}}>
                        <Document::Text
                            @document={{this.model}}
                            @onGlossaryItemClick={{this.viewGlossaryTerm}}
                            @page={{this.page}}
                            @readQueryParams={{this.readQueryParams}}
                            @viewSearch={{this.viewSearch}}
                        />
                    </ContentWithPlaceholder>
                </div>
            </div>
        </div>
    </div>
</Page::Content>