<Page::Content>
    <div class="py-3 px-4 bg-white-TBD">
        <div class="mb-2">
            <LinkTo
                @route="search"
                @query={{hash
                    q=this.q
                    matchSynonyms=this.matchSynonyms
                    searchTerms=this._searchTerms
                    facets=this._facets
                }}
            >
                <FaIcon @icon="arrow-left" /> Back to search
            </LinkTo>
        </div>
        <p class="small text-muted">
            {{this.model.documentRef}}
        </p>
        <div class="card">
            <div class="card-body pep-document-content">
                <h4 class="mb-3">
                    {{{this.model.title}}}
                    <div class="small text-muted">
                        {{this.model.authorMast}}
                    </div>
                </h4>
                <p class="text-muted">
                    {{{this.model.abstract}}}
                </p>
                {{#if this.model.accessLimited}}
                    <div class="alert alert-warning" role="alert">
                        {{#if this.model.accessLimitedDescription}}
                            <p class={{if this.session.isAuthenticated "mb-0"}}>
                                {{{this.model.accessLimitedDescription}}}
                            </p>
                        {{/if}}
                        {{#unless this.session.isAuthenticated}}
                            <p class="mb-0">
                                You must be logged in to read the full document.
                                <a href="" {{on "click" this.login}}>Click here to login</a>.
                            </p>
                        {{/unless}}
                    </div>
                {{else}}
                    {{!-- TODO full document content / paginated --}}
                    <p>THIS IS THE FULL LOGGED IN DOCUMENT!</p>
                {{/if}}
            </div>
        </div>
    </div>
</Page::Content>
