<Page::Content>
    <div class="py-3 px-4">
        <div class="d-flex {{if this.metadata.fullCount "justify-content-between" "justify-content-end"}} align-items-center mb-2">
            {{#if this.metadata.fullCount}}
                <LinkTo
                    @route="search"
                    @query={{hash
                        q=this.q
                        matchSynonyms=this.matchSynonyms
                        searchTerms=this._searchTerms
                        facets=this._facets
                    }}
                >
                    <FaIcon @icon="arrow-left" /> Back to search
                </LinkTo>
            {{/if}}
            <div class="ml-2 d-flex align-items-center">
                <Button
                    @type="link"
                    @icon="chevron-left"
                    @iconOnly={{true}}
                    class="py-0 px-2 text-muted"
                />
                <div class="input-group input-group-minimal mx-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="doc-page-control-label">Page</span>
                    </div>
                    <input
                        type="number"
                        min={{1}}
                        max={{this.lastPage}}
                        value={{this.currentPage}}
                        class="form-control text-center"
                        maxlength="255"
                        aria-label="Page"
                        aria-describedby="doc-page-control-label"
                    />
                </div>
                <Button
                    @type="link"
                    @icon="chevron-right"
                    @iconOnly={{true}}
                    class="py-0 px-2 text-muted"
                />
            </div>
        </div>
        <p class="small text-muted">
            {{this.model.documentRef}}
        </p>
        <div class="card">
            <div class="card-body">
                <h4 class="mb-3">
                    {{html-safe this.model.title}}
                    <div class="small text-muted">
                        {{this.model.authorMast}}
                    </div>
                </h4>
                <p class="text-muted pep-document-content">
                    {{html-safe this.model.abstract}}
                </p>
                {{#if this.model.accessLimited}}
                    <div class="alert alert-warning" role="alert">
                        {{#if this.model.accessLimitedDescription}}
                            <p class={{if this.session.isAuthenticated "mb-0"}}>
                                {{html-safe this.model.accessLimitedDescription}}
                            </p>
                        {{/if}}
                        {{#unless this.session.isAuthenticated}}
                            <p class="mb-0">
                                You must be logged in to read the full document.
                                <a href="" {{on "click" this.login}}>Click here to login</a>.
                            </p>
                        {{/unless}}
                    </div>
                {{else}}
                    {{!-- TODO document pagination --}}
                    <div class="pep-document-content">
                        {{html-safe this.documentCleaned}}
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</Page::Content>
