<CollapsiblePanel
    @scrollableNamespace="sidebar-right"
    @isOpen={{this.isOpen}}
    @toggle={{fn @toggleIsOpen this.widget}}
    class="mb-2"
    ...attributes
as |Panel|>
    <Panel.header @title={{t "relatedInfo.widgets.glossaryTerms.title"}} />
    <Panel.body>
        {{#if this.data.length}}
            <ul class="word-cloud text-muted mb-3">
                {{#each this.data as |item|}}
                    <li
                        style={{item.fontStyle}}
                    >
                        <Button
                            @label={{item.label}}
                            @action={{fn this.viewGlossaryTerm item.label}}
                            @type="link"
                            class="p-0"
                        />
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <div class="py-3 mb-0 text-center text-muted">
                {{t "common.noResults"}}
            </div>
        {{/if}}
    </Panel.body>
</CollapsiblePanel>
