<CollapsiblePanel
    @scrollableNamespace="sidebar-right"
    @isOpen={{this.isOpen}}
    @toggle={{fn @toggleIsOpen this.widget}}
    class="mb-2"
    ...attributes
as |Panel|>
    <Panel.header @title={{t "relatedInfo.widgets.glossaryTerms.title"}} />
    <Panel.body>
        <ul class="word-cloud text-muted mb-3">
            {{#each this.data as |item|}}
                {{!-- template-lint-disable no-bare-strings --}}
                <li style="font-size: {{item.fontSize}}em;">
                    {{item.label}}
                    <EmberTooltip
                        @popperContainer="body"
                        @side="top"
                        @spacing={{5}}
                        @effect="slide"
                        @innerClass=""
                        @onShow={{fn this.onTooltipShow item.label}}
                    >
                        {{#if this.tooltipData}}
                            {{this.tooltipData}}
                        {{else}}
                            Loading...
                        {{/if}}
                    </EmberTooltip>
                </li>
            {{/each}}
        </ul>
        <p class="mb-0">
            <a href="#">
                {{t "relatedInfo.widgets.glossaryTerms.view"}}
                <FaIcon @icon="arrow-right" />
            </a>
        </p>
    </Panel.body>
</CollapsiblePanel>
