<div class="custom-control custom-checkbox form-check {{if @inline "custom-control-inline"}}" ...attributes>
    <input
        type="checkbox"
        class="custom-control-input"
        {{on "click" this.onChange}}
        checked={{@checked}}
        id={{this.inputId}}
        disabled={{@disabled}}
    >
    <label
        class="custom-control-label {{@labelClass}}"
        for={{this.inputId}}
    >
        {{@label}}
    </label>
    {{yield}}
</div>
