<div class="d-flex flex-column">
    <h4 class="d-flex flex-column page-content-heading mb-3 w-100">
        {{t "browserData.title"}}
    </h4>
    <div class="py-3 px-4">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="border-divider-b mb-3">
                            <h5 class="card-title align-items-center d-flex">
                                {{t "browserData.heading"}}
                            </h5>
                        </div>
                        <div class="card-text-container d-flex flex-column">
                            <div class="card-text mb-3">
                                {{t "browserData.text"}}
                            </div>
                            <div class="col-3 p-0">
                                <Button
                                    @action={{this.clearData}}
                                    @icon="trash-alt"
                                    @iconSize="lg"
                                    class="p-3"
                                    @label={{t "browserData.button"}}
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>