<div class="bg-primary border-divider-b" {{did-insert this.onElementInsert}}>
    <div class="p-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="mb-0">
                {{t "relatedInfo.widgets.signIn.title"}}
            </h5>
        </div>
        <Forms::Login
            @wrapperComponent={{component
                "content-with-placeholder"
                placeholderComponent="loading/widget"
                isLoading=this.loadResults.isRunning
            }}
            @logins={{this.logins}}
            @genericLoginUrl={{this.genericLoginUrl}}
            @padsLoginUrl={{this.padsLoginUrl}}
            @padsForgotPasswordUrl={{this.padsForgotPasswordUrl}}
            @padsRegisterUrl={{this.padsRegisterUrl}}
        >
        </Forms::Login>
    </div>
</div>