<Page::Content>
    <div class="pb-3 px-4">
        <div class="sticky-top bg-body py-2 document-nav">
            <div
                class="d-flex


                    {{if this.paginator.metadata.fullCount "justify-content-between" "justify-content-end"}}


                     align-items-center mb-2"
            >
                {{#if this.paginator.metadata.fullCount}}
                    <LinkTo
                        @route="search"
                        @query={{hash
                            q=this.q
                            matchSynonyms=this.matchSynonyms
                            searchTerms=this._searchTerms
                            facets=this._facets
                        }}
                    >
                        <FaIcon @icon="arrow-left" />
                        {{t "read.document.backToSearch"}}
                    </LinkTo>
                {{/if}}
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <p class="document-nav-ref small text-muted {{if this.model.accessLimited " mb-2" " mb-0"}}">
                    {{this.model.documentRef}}
                </p>
                <div class="d-flex align-items-center">
                    {{#if this.model.termCount}}
                        <span class="p-1 d-flex align-items-center">
                            {{#if this.showPreviousSearchHitButton}}
                                <Button
                                    @action={{this.viewPreviousSearchHit}}
                                    @type="link"
                                    @icon="chevron-left"
                                    @iconPrefix="fas"
                                    @iconSize="lg"
                                    @tooltip={{t "common.previous"}}
                                    class="py-0 px-1 mx-1"
                                />
                            {{/if}}
                            {{this.model.searchTerm}}
                            {{#if this.searchHitNumber}}
                                <span class="ml-1">
                                    {{t
                                        "read.document.searchHits"
                                        current=this.searchHitNumber
                                        total=this.model.termCount
                                        htmlSafe=true
                                    }}
                                </span>
                            {{/if}}
                            {{#if this.showNextSearchHitButton}}
                                <Button
                                    @action={{this.viewNextSearchHit}}
                                    @type="link"
                                    @icon="chevron-right"
                                    @iconPrefix="fas"
                                    @iconSize="lg"
                                    @tooltip={{t "common.next"}}
                                    class="py-0 px-1 mx-1"
                                />
                            {{/if}}
                        </span>
                    {{/if}}
                    {{#unless this.model.accessLimited}}
                        <div class="flex-shrink-0">
                            <Document::Actions::Download @id={{this.model.id}} />
                            <Document::Actions::Print @id={{this.model.id}} />
                        </div>
                    {{/unless}}
                </div>
            </div>
        </div>
        <Document::Read
            @model={{this.model}}
            @page={{this.page}}
            @onAuthenticated={{this.onAuthenticated}}
            @searchQueryParams={{this.readQueryParams}}
            @searchHitNumber={{this.searchHitNumber}}
        />
    </div>
</Page::Content>