{{page-title (t "read.title" title=this.document.title)}}
<Page::Content {{register-keyboard-shortcuts shortcuts=this.shortcuts}}>
    <div class="pb-3 px-4">
        <div class="sticky-top bg-body py-2 document-nav">
            <div
                class="d-flex


                    {{if this.paginator.metadata.fullCount "justify-content-between" "justify-content-end"}}


                     align-items-center"
            >
                {{#if this.paginator.metadata.fullCount}}
                    <LinkTo
                        @route="search"
                        @query={{hash
                            q=this.q
                            matchSynonyms=this.matchSynonyms
                            searchTerms=this._searchTerms
                            facets=this._facets
                        }}
                    >
                        <FaIcon @icon="arrow-left" />
                        {{t "read.document.backToSearch"}}
                    </LinkTo>
                {{/if}}
                <div class="align-items-center d-flex">
                    <Document::SearchHits
                        @document={{this.document}}
                        @searchHitNumber={{this.searchHitNumber}}
                        @viewPreviousSearchHit={{this.viewPreviousSearchHit}}
                        @viewNextSearchHit={{this.viewNextSearchHit}}
                        @viewHitNumber={{this.viewSearchHitNumber}}
                    />
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <p class="document-nav-ref small text-muted {{if this.document.accessLimited " mb-2" " mb-0"}}">
                    {{this.document.documentRef}}
                </p>
                <div class="align-items-center">
                    <div class="flex-shrink-0">
                        <Document::Actions::Download @document={{this.document}} @iconOnly={{true}} @enabled={{this.document.canDownload}} />
                        <Document::Actions::Print @id={{this.document.id}} @enabled={{this.document.canDownload}} />
                    </div>
                </div>
            </div>
        </div>
        <Document::Read
            @model={{this.document}}
            @page={{this.page}}
            @onAuthenticated={{this.onAuthenticated}}
            @searchQueryParams={{this.readQueryParams}}
            @searchHitNumber={{this.searchHitNumber}}
            @documentRendered={{this.documentRendered}}
            @viewablePageUpdate={{this.viewablePageUpdate}}
        />
    </div>
</Page::Content>