<ModalDialog
    @onClose={{@onClose}}
    @size="sm"
    @overlayClassNames="slide-card-overlay"
    @modal-class="slide-card-modal"
    @closable={{false}} as |Modal|
>
    <Modal.header>
        <h4 class="modal-title">
            <FaIcon @icon="question-circle" class="text-muted" />
            {{or @options.title (t "common.help")}}
        </h4>
    </Modal.header>
    <Modal.body id={{@options.bodyId}}>
        {{html-safe @options.content}}
    </Modal.body>
</ModalDialog>