<div class="search-form-term-control mb-2" ...attributes>
    <div class="d-flex">
        <div class="search-form-term-control-field flex-fill">
            {{#if this.selectedSearchType.wordWheelField}}
                <WordWheel
                    @placeholder={{or this.termContentConfig.prompt (t "search.form.terms.label")}}
                    @value={{@searchTerm.term}}
                    @onChange={{fn @updateTermText @searchTerm}}
                    @apiField={{this.selectedSearchType.wordWheelField}}
                    @apiCore={{this.selectedSearchType.wordWheelCore}}
                    @searchType={{this.termContentConfig.wordWheelSearchType}}
                    class="search-form-term-control-field-text"
                />
            {{else}}
                <FlInput
                    @placeholder={{or this.termContentConfig.prompt (t "search.form.terms.label")}}
                    @value={{@searchTerm.term}}
                    class="search-form-term-control-field-text"
                    maxlength="255"
                    autocomplete="off"
                    {{on "input" (fn @onTermTextChange @searchTerm)}}
                />
            {{/if}}
            <select
                class="custom-select search-form-term-control-field-type"
                name={{t "search.form.terms.termSelectName" type=@searchTerm.type}}
                aria-label={{t "search.form.terms.termSelectName" type=@searchTerm.type}}
                {{on "change" (fn @updateTermType @searchTerm)}}
            >
                {{#each this.searchTypeOptions as |searchType|}}
                    <option value={{searchType.id}} selected={{eq searchType.id @searchTerm.type}}>
                        {{t searchType.label}}
                    </option>
                {{/each}}
            </select>
        </div>
        <Button
            @icon="trash-alt"
            @type="link"
            @action={{fn @removeSearchTerm @searchTerm}}
            class="ml-1 p-0"
            title={{t "search.form.terms.remove"}}
            disabled={{not this.canRemove}}
        />
    </div>
    {{#if this.termContentConfig.help}}
        <HelpTooltip @tooltip={{this.termContentConfig.help}} class="search-form-term-control-help" />
    {{/if}}
</div>