{{#if @result}}
    <div
        class="search-preview search-preview-{{this.mode}}"
        style={{this.styles}}
        ...attributes
    >
        <Scrollable class="page-content-inner" @onInsert={{this.onElementInsert}}>
            <div class="d-flex justify-content-between align-items-start px-4 py-2">
                <div class="small text-muted mr-2">{{@result.documentRef}}</div>
                <div class="d-flex flex-nowrap">
                    <Button
                        @icon="expand-alt"
                        @type="link"
                        @action={{fn @setMode "fit"}}
                        class="mr-2 p-0"
                        title="Expand to fit"
                    />
                    <Button
                        @icon={{if (eq @mode "maximized") "window-minimize" "window-maximize"}}
                        @action={{fn @setMode (if (eq @mode "maximized") "minimized" "maximized")}}
                        title={{if (eq @mode "maximized") "Minimize" "Maximize"}}
                        @type="link"
                        class="mr-2 p-0"
                    />
                    <Button
                        @icon="times"
                        @type="link"
                        @action={{@close}}
                        class="p-0"
                        title="Close"
                    />
                </div>
            </div>
            <div class="px-4 pb-3">
                <h5>
                    {{{@result.title}}}
                    {{#if @result.authorMast}}
                        <div class="small text-muted">
                            {{@result.authorMast}}
                        </div>
                    {{/if}}
                </h5>
                <div class="mb-2">
                    {{{@result.abstract}}}
                </div>
                <div>
                    {{#if this.session.isAuthenticated}}
                        <LinkTo
                            @route="read.document"
                            @model={{@result.documentID}}
                            @query={{@queryParams}}
                            class="btn btn-primary btn-wide mr-2"
                        >
                            <FaIcon @icon="book-open" />
                            Read
                        </LinkTo>
                        <Button
                            @icon="download"
                            @label="Download docs"
                            @type="link"
                            class="px-2"
                        >
                            <FaIcon @icon="angle-down" class="ml-1 text-muted" />
                        </Button>
                    {{else}}
                        <p class="p-3 bg-light rounded">
                            You must be logged in to read or download this document.
                            <a href="" {{on "click" this.login}}>Click here to login</a>.
                        </p>
                    {{/if}}
                </div>
            </div>
        </Scrollable>
    </div>
{{/if}}
