{{#if @resultId}}
    <div
        class="search-preview search-preview-{{this.mode.id}}{{if this.isDragResizing " is-drag-resizing"}}"
        style={{this.styles}}
        ...attributes
    >
        <DragBar
            @orientation="horizontal"
            @maxClientY={{84}}
            @onDragStart={{this.onDragStart}}
            @onDragMove={{this.onDragMove}}
            @onDragEnd={{this.onDragEnd}}
        />
        <Scrollable @namespace="search-preview" @onInsert={{this.onScrollableInsert}} class="page-content-inner">
            <div
                class="search-preview-inner"
                {{did-insert this.onElementInsert}}
                {{did-update this.onResultUpdate @resultId}}
            >
                <div>
                    <div class="d-flex justify-content-between align-items-start px-4 py-2">
                        <div class="small text-muted mr-2">
                            {{this.result.documentRef}}
                        </div>
                        <div class="d-flex flex-nowrap">
                            <Button::WithTooltip
                                @type={{if this.isFitMode "primary" "link"}}
                                @icon="expand-alt"
                                @action={{fn this.setMode (if this.isFitMode "custom" "fit")}}
                                @tooltip={{t (if this.isFitMode "search.preview.fit.off" "search.preview.fit.on")}}
                                @containerClass="mr-2"
                                class="py-0 px-1"
                            />
                            <Button::WithTooltip
                                @type="link"
                                @icon={{if this.isMinimizedMode "window-maximize" "window-minimize"}}
                                @action={{fn this.setMode (if this.isMinimizedMode "maximized" "minimized")}}
                                @tooltip={{t
                                    (if this.isMinimizedMode "search.preview.maximize" "search.preview.minimize")
                                }}
                                @containerClass="mr-2"
                                class="py-0 px-1"
                            />
                            <Button::WithTooltip
                                @icon="times"
                                @type="link"
                                @action={{this.close}}
                                @tooltip={{t "common.close"}}
                                class="py-0 px-1"
                            />
                        </div>
                    </div>
                    <div class="px-4 pb-3">
                        <h5>
                            {{html-safe this.result.title}}
                            {{#if this.result.authorMast}}
                                <div class="small text-muted">
                                    {{this.result.authorMast}}
                                </div>
                            {{/if}}
                        </h5>
                        <div class="pep-abstract-preview mb-2">
                            {{#if this.result}}
                                <Document::Text
                                    @document={{this.result}}
                                    @target="abstract"
                                    @onGlossaryItemClick={{this.viewGlossaryTerm}}
                                    @documentRendered={{this.documentRendered}}
                                />
                            {{/if}}
                        </div>
                        <div>
                            {{#if this.result.accessLimited}}
                                <Alert @isShown={{this.session.isAuthenticated}} @type="warning">
                                    {{html-safe (or this.result.noAccessMessage (t "search.preview.accessLimited"))}}
                                </Alert>
                                {{#unless this.session.isAuthenticated}}
                                    <p class="p-3 bg-primary-well rounded">
                                        {{t "search.preview.mustBeLoggedIn"}}
                                        <a href="" {{on "click" this.login}}>
                                            {{t "search.preview.login"}}
                                        </a>
                                        .
                                    </p>
                                {{/unless}}
                            {{else}}
                                <Button
                                    @label={{t "search.preview.read"}}
                                    @icon="book-open"
                                    @type="primary"
                                    @wide={{true}}
                                    @action={{this.viewDocument}}
                                    class="mr-2"
                                />

                                <Document::Actions::Download @document={{this.result}} @enabled={{this.result.canDownload}} />
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </Scrollable>
    </div>
{{/if}}