<ModalDialog @onClose={{@onClose}} @size="xl" @closable={{false}} as |Modal|>
    {{#if @options.id}}
        <Modal.header @title={{t "figure.title" id=@options.id}} />
    {{/if}}
    <Modal.body>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <span class="small text-muted">
                {{@options.caption}}
            </span>
            <Image @source={{@options.url}} class="img-fluid" alt={{t "figure.title" id=@options.id}} />
        </div>
    </Modal.body>
    <Modal.footer>
        <Button @type="link" @label={{t "common.close"}} @action={{@onClose}} />
    </Modal.footer>
</ModalDialog>