<div
    class="sidebar sidebar-{{@side}}
        {{~unless this.isOpen " sidebar-collapsed"}}
        {{~if this.otherSidebarIsOpen " other-sidebar-is-open"}}"
    ...attributes
>
    <div class="sidebar-inner">
        {{yield
            (hash
                content=(component 'page/sidebar/content')
            )
        }}
    </div>
    <button type="button" class="sidebar-toggle-handle" {{on "click" this.toggle}}>
        <FaIcon @icon={{if
            this.isOpen
            (if this.isLeft "chevron-left" "chevron-right")
            (if this.isLeft "chevron-right" "chevron-left")
        }}
        />
    </button>
</div>
