<div
    class="sidebar sidebar-{{@side}}
        {{~unless this.isOpen " sidebar-collapsed"}}
        {{~if this.otherSidebarIsOpen " other-sidebar-is-open"}}
        {{~if this.isResizing " is-drag-resizing"}}"
    style={{this.sidebarStyles}}
    ...attributes
>
    <div class="sidebar-inner" style={{this.sidebarInnerStyles}}>
        {{#if this.canResize}}
            <DragBar
                @orientation="vertical"
                @reversed={{this.isRight}}
                @maxClientX={{this.maxWidth}}
                @onDragStart={{this.onDragStart}}
                @onDragMove={{this.onDragMove}}
                @onDragEnd={{this.onDragEnd}}
            />
        {{/if}}
        {{yield
            (hash
                content=(component 'page/sidebar/content')
            )
        }}
    </div>
    <button type="button" class="sidebar-toggle-handle" {{on "click" this.toggle}}>
        <FaIcon @icon={{if
            this.isOpen
            (if this.isLeft "chevron-left" "chevron-right")
            (if this.isLeft "chevron-right" "chevron-left")
        }}
        />
    </button>
</div>
