{{page-title (t "home.title")}}
<Page::Content>
    <h4 class="page-content-heading mb-3">
        {{t "home.heading"}}
        <div class="small text-muted">
            {{t "brand.slogan"}}
        </div>
    </h4>
    <div class="py-3 px-4">
        <div class="row page-content-heading-inset">
            <div class="col-xl-6 d-xl-flex">
                <div class="card mb-4 flex-xl-grow-1">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{html-safe this.intro.left.heading}}
                        </h5>
                        {{#if this.intro.left.subheading}}
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{html-safe this.intro.left.subheading}}
                            </h6>
                        {{/if}}
                        <p class="d-lg-none">
                            <Button
                                @type="primary"
                                @size="lg"
                                @blockLayout={{this.fastbootMedia.isMobile}}
                                @icon="search"
                                @label={{t "home.searchForDocs"}}
                                @action={{this.showSearch}}
                            />
                        </p>
                        {{html-safe this.intro.left.body}}
                    </div>
                </div>
            </div>
            <div class="col-xl-6 d-xl-flex">
                <div class="card mb-4 flex-xl-grow-1">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{html-safe this.intro.right.heading}}
                        </h5>
                        {{#if this.intro.right.subheading}}
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{html-safe this.intro.right.subheading}}
                            </h6>
                        {{/if}}
                        {{html-safe this.intro.right.body}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="border-divider-b mb-3">
                            <h5 class="card-title">
                                {{t "home.expertPick.heading"}}
                            </h5>
                            <h6 class="card-subtitle mb-3 text-muted">
                                {{html-safe this.model.title}}
                            </h6>
                        </div>
                        {{! TODO needed because abstracts can contain broken/invalid HTML }}
                        {{! that fastboot/server render chokes on. Need to come up with a }}
                        {{! better solution for this problem general }}
                        <ContentWithPlaceholder @placeholderInFastboot={{true}}>
                            <div class="float-xl-right mw-xl-50 ml-xl-2 mb-xl-2">
                                <Document::Image @id={{this.expertPick.imageId}} class="rounded img-fluid" />
                            </div>
                            <div class="card-text mb-3 pep-abstract-preview">
                                {{html-safe this.model.abstractPreview}}
                            </div>
                            <div class="card-text mb-3">
                                <Button
                                    @type="primary"
                                    @wide={{true}}
                                    @action={{this.readExpertPick}}
                                    @label={{t
                                        (if
                                            this.session.isAuthenticated
                                            "home.expertPick.read"
                                            "home.expertPick.loginAndRead"
                                        )
                                    }}
                                />
                            </div>
                        </ContentWithPlaceholder>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Page::Content>