<Page::Content>
    <div class="py-3 px-4">
        <div class="card">
            <div class="card-body">
                <div class="pep-document-content">
                    <ContentWithPlaceholder @isLoading={{not this.paginator.models}}>
                        <VerticalCollection
                            @items={{this.paginator.models}}
                            @tagName="ul"
                            @class="list-unstyled row"
                            @estimateHeight={{20}}
                            staticHeight={{true}}
                            @containerSelector=".page-content-inner"
                            @lastReached={{this.paginator.loadMoreModels}} as |result|
                        >
                            <li class="col-2 mb-2">
                                {{result.vol}} {{result.year}}
                            </li>
                        </VerticalCollection>
                        {{#if this.paginator.isLoadingModels}}
                            <Loading::Spinner @options={{hash text=(t "common.loadingResults")}} class="pt-2" />
                        {{/if}}
                    </ContentWithPlaceholder>
                </div>
            </div>
        </div>
    </div>
</Page::Content>