<div class="page-drawer d-block d-md-none{{if this.drawer.isOpen " is-open"}}" ...attributes>
    <Scrollable @namespace="page-drawer" class="page-drawer-scrollable d-flex flex-column">
        <div class="p-4 flex-shrink-0 d-flex align-items-center page-drawer-header">
            <button type="button" class="page-drawer-close" {{on "click" this.closeDrawer}}>
                <FaIcon @icon="times-circle" @prefix="fas" @size="lg" />
            </button>
            <div class="page-drawer-brand d-flex">
                <div class="page-drawer-brand-logo"></div>
                <div class="ml-2">
                    <div>
                        {{t "brand.nameFull.psychoanalytic"}}
                    </div>
                    <div>
                        {{t "brand.nameFull.electronic"}}
                    </div>
                    <div>
                        {{t "brand.nameFull.publishing"}}
                    </div>
                </div>
            </div>
        </div>
        <div class="px-3 py-4 page-drawer-content">
            <div class="list-group">
                <Page::Drawer::NavItem class="mt-1 tour-step-home">
                    <LinkTo @route="index" class="list-group-item list-group-item-action">
                        <FaIcon @icon="home" @fixedWidth={{true}} class="mr-2" />
                        {{t "nav.home"}}
                    </LinkTo>
                </Page::Drawer::NavItem>
                <div class="list-group tour-step-navigation">
                    <Page::Drawer::NavItem class="mt-1">
                        <LinkTo
                            @route="search"
                            @query={{this.defaultSearchParams}}
                            class="list-group-item list-group-item-action"
                        >
                            <FaIcon @icon="search" @fixedWidth={{true}} class="mr-2" />
                            {{t "nav.search"}}
                        </LinkTo>
                    </Page::Drawer::NavItem>
                    <Page::Drawer::NavItem class="mt-1">
                        <Button
                            @action={{this.viewRead}}
                            @type="link"
                            class="list-group-item list-group-item-action"
                            @disabled={{this.readDisabled}}
                            @icon="book-reader"
                            @iconClass="mr-2"
                        >
                            {{t "nav.read"}}
                        </Button>
                    </Page::Drawer::NavItem>

                    <Page::Drawer::NavItem class="mt-1">
                        <LinkTo @route="browse" class="list-group-item list-group-item-action">
                            <FaIcon @icon="books" @fixedWidth={{true}} class="mr-2" />
                            {{t "nav.browse"}}
                        </LinkTo>
                    </Page::Drawer::NavItem>
                </div>

                <Page::Drawer::NavMenu
                    @title={{t "nav.help"}}
                    @isOpen={{this.isHelpMenuOpen}}
                    @toggle={{fn (mut this.isHelpMenuOpen)}}
                    class="mt-1"
                >
                    <Page::Drawer::NavItem class="mt-1">
                        <a
                            href={{this.supportUrl}}
                            target="_blank"
                            rel="noopener noreferrer"
                            class="list-group-item list-group-item-action"
                        >
                            <FaIcon @icon="external-link" @fixedWidth={{true}} class="text-muted" />
                            {{t "nav.support.link"}}
                        </a>
                    </Page::Drawer::NavItem>
                    <Page::Drawer::NavItem class="mt-1">
                        <button
                            type="button"
                            class="list-group-item list-group-item-action"
                            {{on "click" this.openReportDataErrorModal}}
                        >
                            <FaIcon @icon="comment-exclamation" @fixedWidth={{true}} class="text-muted" />
                            {{t "nav.support.reportDataError"}}
                        </button>
                    </Page::Drawer::NavItem>
                    <Page::Drawer::NavItem class="mt-1">
                        <button
                            type="button"
                            class="list-group-item list-group-item-action"
                            {{on "click" this.openFeedbackModal}}
                        >
                            <FaIcon @icon="comment-lines" @fixedWidth={{true}} class="text-muted" />
                            {{t "nav.support.provideFeedback"}}
                        </button>
                    </Page::Drawer::NavItem>
                    <Page::Drawer::NavItem class="mt-1">
                        <button
                            type="button"
                            class="list-group-item list-group-item-action"
                            {{on "click" this.openHelpModal}}
                        >
                            <FaIcon @icon="hands-helping" @fixedWidth={{true}} class="text-muted" />
                            {{t "nav.support.preferences"}}
                        </button>
                    </Page::Drawer::NavItem>
                </Page::Drawer::NavMenu>
                <Page::Drawer::NavMenu
                    @title={{t "nav.user.account"}}
                    @isOpen={{this.isUserMenuOpen}}
                    @toggle={{fn (mut this.isUserMenuOpen)}}
                    class="mt-1"
                >
                    <Page::Drawer::NavItem class="mt-1">
                        <button
                            type="button"
                            class="list-group-item list-group-item-action"
                            {{on "click" this.openPreferencesModal}}
                        >
                            <FaIcon @icon="cog" @fixedWidth={{true}} class="mr-2" />
                            {{t "nav.user.preferences"}}
                        </button>
                    </Page::Drawer::NavItem>
                    <Page::Drawer::NavItem class="mt-1">
                        <button
                            type="button"
                            class="list-group-item list-group-item-action"
                            {{on "click" @openAboutModal}}
                        >
                            <FaIcon @icon="info-square" @fixedWidth={{true}} class="mr-2" />
                            {{t "nav.user.about"}}
                        </button>
                    </Page::Drawer::NavItem>
                    {{#if this.session.isAuthenticated}}
                        <div class="border-divider-b bg-secondary"></div>
                        <div class="page-drawer-nav-item mt-1">
                            <div class="list-group-item w-100">
                                {{#if this.currentUser.canLogOut}}
                                    {{this.currentUser.user.userName}}
                                {{else}}
                                    {{this.currentUser.loggedInLabel}}
                                {{/if}}
                            </div>
                        </div>
                        <Page::Drawer::NavItem class="mt-1">
                            <button
                                type="button"
                                class="list-group-item list-group-item-action"
                                {{on "click" this.openAccountInfoModal}}
                            >
                                <FaIcon @icon="info-circle" @fixedWidth={{true}} class="mr-2" />
                                {{t "nav.user.accountInfo"}}
                            </button>
                        </Page::Drawer::NavItem>
                        {{#if this.currentUser.canLogOut}}
                            <Page::Drawer::NavItem class="mt-1">
                                <button
                                    type="button"
                                    class="list-group-item list-group-item-action"
                                    {{on "click" this.logout}}
                                >
                                    <FaIcon @icon="sign-out" @fixedWidth={{true}} class="mr-2" />
                                    {{t "nav.user.logout"}}
                                </button>
                            </Page::Drawer::NavItem>
                        {{else if this.currentUser.user.isGroup}}
                            <Page::Drawer::NavItem class="mt-1">
                                <button
                                    type="button"
                                    class="list-group-item list-group-item-action"
                                    {{on "click" this.openLoginModal}}
                                >
                                    <FaIcon @icon="sign-in" @fixedWidth={{true}} class="mr-2" />
                                    {{t "nav.user.login"}}
                                </button>
                            </Page::Drawer::NavItem>
                        {{/if}}
                    {{else}}
                        <Page::Drawer::NavItem class="mt-1">
                            <button
                                type="button"
                                class="list-group-item list-group-item-action"
                                {{on "click" this.openLoginModal}}
                            >
                                <FaIcon @icon="sign-in" @fixedWidth={{true}} class="mr-2" />
                                {{t "nav.user.login"}}
                            </button>
                        </Page::Drawer::NavItem>
                    {{/if}}
                </Page::Drawer::NavMenu>
            </div>
        </div>
        <div class="page-drawer-footer mt-auto p-2 text-center text-white-50">
            <div class="mx-auto mb-2">
                <a href={{this.facebookUrl}} class="text-white-50" target="_blank" rel="noopener noreferrer">
                    <FaIcon @icon="facebook" @prefix="fab" @size="lg" />
                </a>
            </div>
            <div class="small">
                {{t "brand.copyWrite" year=(current-year) htmlSafe=true}}
            </div>
        </div>
    </Scrollable>
</div>
{{#if this.drawer.isOpen}}
    <div class="page-drawer-mask d-block d-md-none" role="button" {{on "click" this.closeDrawer}}>
    </div>
{{/if}}