<Page::Sidebar::Left as |Sidebar|>
    <Sidebar.content>
        {{#if (or this.paginator.metadata.fullCount this.isLoadingRoute)}}
            <div class="bg-primary border-divider-b p-3">
                {{#if (and this.isLoadingRoute (not this.paginator.models))}}
                    <Loading::Read::Results />
                {{else}}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h5 class="mb-0 font-size-normal">
                            {{t
                                "common.numResults"
                                count=(format-number (or this.paginator.metadata.fullCount 0))
                                htmlSafe=true
                            }}
                            {{#if this.paginator.metadata.description}}
                                <div class="text-muted small">
                                    {{this.paginator.metadata.description}}
                                </div>
                            {{/if}}
                        </h5>
                    </div>
                    <div class="mb-1 d-flex align-items-center justify-content-between">
                        <div class="search-results-control search-results-control-sidebar">
                            <CheckboxInput
                                @checked={{this.showHitsInContext}}
                                @onChange={{this.updateHitsInContext}}
                                @label={{t "search.hitsInContext.label.short"}}
                            />
                            <HelpTooltip @tooltip={{t "search.hitsInContext.help"}} />
                        </div>
                        <div class="d-flex align-items-center">
                            <DropdownMenu @horizontalPosition="auto-right" as |DD|>
                                <DD.Trigger @htmlTag="a" class="p-1">
                                    <FaIcon @icon="download" @size="lg" />
                                </DD.Trigger>
                                <DD.Content class="dropdown-menu">
                                    <DropdownAction @dd={{DD}} @action={{this.exportCSV}}>
                                        {{t "search.exports.csv"}}
                                    </DropdownAction>
                                    <DropdownAction @dd={{DD}} @action={{this.exportCSV}}>
                                        {{t "search.exports.ris"}}
                                    </DropdownAction>
                                </DD.Content>
                            </DropdownMenu>
                            <CopyButton
                                class="p-1 btn btn-link"
                                @success={{this.clipboardSuccess}}
                                @error={{this.clipboardFailure}}
                                @clipboardText={{this.exportClipboard}}
                            >
                                <FaIcon @icon="clipboard" @size="lg" />
                            </CopyButton>
                            <Button
                                @action={{this.print}}
                                @type="link"
                                @icon="print"
                                @iconSize="lg"
                                @tooltip={{t "common.print"}}
                                class="p-1"
                            />
                        </div>
                    </div>
                    <div class="mb-3 d-flex align-items-center">
                        <div class="search-results-control search-results-control-sidebar">
                            <div class="d-flex align-items-center">
                                <span class="search-results-control-label text-muted">
                                    {{t "search.sort.label"}}
                                </span>
                                <select
                                    class="custom-select custom-select-sm text-truncate"
                                    {{on "change" this.updateSort}}
                                >
                                    {{#each this.sorts as |sort|}}
                                        <option value={{sort.id}} selected={{eq sort.id this.selectedSort.id}}>
                                            {{sort.label}}
                                        </option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                        <div class="search-results-control search-results-control-sidebar">
                            <div class="d-flex align-items-center">
                                <span class="search-results-control-label text-muted">
                                    {{t "search.view.label"}}
                                </span>
                                <select
                                    class="custom-select custom-select-sm text-truncate"
                                    {{on "change" this.updateSelectedView}}
                                >
                                    {{#each this.searchViews as |view|}}
                                        <option value={{view.id}} selected={{eq view.id this.selectedView.id}}>
                                            {{view.label}}
                                        </option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>

                    {{#if (eq this.selectedView.id this.tableView)}}
                        <Tables::Search
                            @containerSelector=".sidebar-content"
                            @rows={{this.paginator.models}}
                            @hasMoreRows={{this.paginator.hasMore}}
                            @loadMoreRows={{this.paginator.loadMoreModels}}
                            @isLoading={{this.paginator.isLoadingModels}}
                            @updateSorts={{this.paginator.changeSorting}}
                            @sorts={{this.tableSorts}}
                            @showHitsInContext={{this.showHitsInContext}}
                            @onLinkClick={{this.loadDocument}}
                            @headerStickyOffset="0"
                            @document={{this.model}}
                        />
                    {{else}}
                        <VerticalCollection
                            @items={{this.paginator.models}}
                            @tagName="ul"
                            @containerSelector=".sidebar-content"
                            @class="list-unstyled"
                            @estimateHeight={{100}}
                            @renderAll={{this.fastboot.isFastBoot}}
                            @lastReached={{this.paginator.loadMoreModels}} as |result|
                        >
                            <Search::Item::Bibliographic
                                @item={{result}}
                                @openResult={{this.loadDocument}}
                                @showHitsInContext={{this.showHitsInContext}}
                                @highlight={{eq this.model.id result.id}}
                            />
                        </VerticalCollection>
                        {{#if this.paginator.isLoadingModels}}
                            <Loading::Spinner @options={{hash text=(t "common.loadingResults")}} class="pt-2" />
                        {{/if}}
                    {{/if}}
                {{/if}}
            </div>
        {{else}}
            <div class="bg-primary border-divider-b px-3 py-4 mb-2">
                <p class="text-muted">
                    {{t "read.document.findMore"}}
                </p>
                <p>
                    <LinkTo
                        @route="search"
                        @query={{this.defaultSearchParams}}
                        class="btn btn-outline-primary btn-block"
                    >
                        {{t "read.document.newSearch"}}
                    </LinkTo>
                </p>
            </div>
            <Page::Sidebar::Widgets::Accolades />
        {{/if}}
    </Sidebar.content>
</Page::Sidebar::Left>