<Page::Sidebar @side="left" as |Sidebar|>
    <Sidebar.content @scrollableNamespace="sidebar-left">
        <div class="bg-white border-divider-b p-3">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h4 class="mb-0">
                    {{t "mostCited.pageTitle"}}
                </h4>
            </div>
            <div class="bg-white search-form">
                <form>
                    <div class="form-group">
                        <FlSelect
                            @options={{this.periods}}
                            @value={{this.searchQueryParams.period}}
                            @valuePath="value"
                            @labelPath="label"
                            @placeholder={{t "mostCited.period"}}
                            @emptyOptionText={{t "mostCited.periodSelect"}}
                            @allowClear={{false}}
                            @onChange={{this.updatePeriod}}
                        />
                    </div>
                    <div class="form-group">
                        <div class="search-form-term-control">
                            <FlInput
                                @placeholder={{t "mostCited.author"}}
                                @value={{this.searchQueryParams.author}}
                                maxlength="255"
                                autocomplete="off"
                            />
                            <abbr class="search-form-term-control-help">
                                <FaIcon @icon="question-circle" />
                                <EmberTooltip
                                    @text={{this.configuration.content.search.terms.types.author.help}}
                                    @popperContainer="body"
                                    @side="right"
                                    @spacing={{5}}
                                    @effect="slide"
                                    @innerClass=""
                                />
                            </abbr>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="search-form-term-control">
                            <FlInput
                                @placeholder={{t "mostCited.title"}}
                                @value={{this.searchQueryParams.title}}
                                maxlength="255"
                                autocomplete="off"
                            />
                            <abbr class="search-form-term-control-help">
                                <FaIcon @icon="question-circle" />
                                <EmberTooltip
                                    @text={{this.configuration.content.search.terms.types.title.help}}
                                    @popperContainer="body"
                                    @side="right"
                                    @spacing={{5}}
                                    @effect="slide"
                                    @innerClass=""
                                />
                            </abbr>
                        </div>
                    </div>
                    <div class="form-group">
                        <FlInput
                            @value={{this.searchQueryParams.journal}}
                            @placeholder={{t "mostCited.journal"}}
                        >
                            <PowerSelect::Journal
                                @selected={{this.searchQueryParams.journal}}
                                @onChange={{this.updateJournal}}
                            />
                        </FlInput>
                    </div>

                    <div class="d-flex justify-content-end">
                        <Button @type="link" @label="Clear" @action={{this.resetForm}} class="mr-1" />
                        <ButtonSpinner
                            @type="primary"
                            @blockLayout={{false}}
                            @wide={{true}}
                            @showSuccess={{true}}
                            @label={{t "common.filter"}}
                            @action={{this.filterTableResults}}
                        />
                    </div>
                </form>
            </div>
        </div>
        <Page::Sidebar::Widgets::Accolades />
    </Sidebar.content>
</Page::Sidebar>

