<div class="bg-white border-divider-b search-form" ...attributes>
    <div class="p-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="mb-0">
                {{t "search.form.heading"}}
            </h5>
            <div>
                <DropdownMenu @horizontalPosition="right" as |DD|>
                    <DD.Trigger @htmlTag="button" class="btn btn-link">
                        <FaIcon @icon="bookmark" @size="lg" />
                    </DD.Trigger>
                    <DD.Content class="dropdown-menu">
                        <h6 class="dropdown-header">
                            <FaIcon @icon="bookmark" class="mr-1" />
                            {{t "search.form.savedSearch.mine"}}
                        </h6>
                        {{!-- TODO static content TBD -this will be backend driven --}}
                        {{!-- template-lint-disable no-bare-strings --}}
                        <DropdownAction @dd={{DD}}>
                            disjunction feminine
                            <small class="text-muted">(all, 132 matches)</small>
                        </DropdownAction>
                        {{!-- template-lint-disable no-bare-strings --}}
                        <DropdownAction @dd={{DD}}>
                            family discord
                            <small class="text-muted">(books, 3 matches)</small>
                        </DropdownAction>
                        {{!-- template-lint-disable no-bare-strings --}}
                        <DropdownAction @dd={{DD}}>
                            depression anxiety
                            <small class="text-muted">(videos, 5 matches)</small>
                        </DropdownAction>
                        <div class="dropdown-divider"></div>
                        <DropdownAction @dd={{DD}} disabled={{not this.hasEnteredSearch}}>
                            <FaIcon @icon="plus-circle" @fixedWidth={{true}} class="text-muted" />
                            {{t "search.form.savedSearch.save"}}
                        </DropdownAction>
                    </DD.Content>
                </DropdownMenu>
            </div>
        </div>
        <form>
            <div class="form-group">
                <FlInput
                    @placeholder={{t "search.form.smartSearch"}}
                    @value={{@smartSearchTerm}}
                    maxlength="255"
                    autocomplete="off"
                />
            </div>
            <p class="text-muted mb-2">{{t "search.form.terms.heading"}}</p>
            <AnimatedContainer>
                {{#animated-each @searchTerms use=this.animateTransition duration=300 as |searchTerm|}}
                    <div class="d-flex mb-2">
                        {{!-- TODO extract term control into <Search::Form::TermControl /> --}}
                        <div class="search-form-term-control flex-fill">
                            <FlInput
                                @placeholder={{t "search.form.terms.label"}}
                                @value={{searchTerm.term}}
                                class="search-form-term-control-text"
                                maxlength="255"
                                autocomplete="off"
                            />
                            <select class="custom-select search-form-term-control-type" {{on "change" (fn this.updateTermType searchTerm)}}>
                                {{#each this.searchTypes as |searchType|}}
                                    <option value={{searchType.id}} selected={{eq searchType.id searchTerm.type}}>
                                        {{searchType.label}}
                                    </option>
                                {{/each}}
                            </select>
                        </div>
                        <Button
                            @icon="trash-alt"
                            @type="link"
                            @action={{fn @removeSearchTerm searchTerm}}
                            class="ml-1 p-0"
                            title={{t "search.form.terms.remove"}}
                        />
                    </div>
                {{/animated-each}}
            </AnimatedContainer>
            <div class="d-flex justify-content-between mb-3">
                <Button
                    @label={{t "search.form.terms.add"}}
                    @icon="plus"
                    @type="link"
                    @action={{this.addSearchTerm}}
                    class="p-0"
                />
                <CheckboxInput
                    @checked={{@matchSynonyms}}
                    @onChange={{@matchSynonymsChange}}
                    @label={{t "search.form.terms.synonyms"}}
                />
            </div>
            <div class="d-flex justify-content-end">
                <Button
                    @type="link"
                    @label="Clear"
                    @action={{@resetForm}}
                    class="mr-1"
                />
                <ButtonSpinner
                    @type="primary"
                    @blockLayout={{false}}
                    @wide={{true}}
                    @showSuccess={{false}}
                    @label={{t "common.search"}}
                    @action={{@submit}}
                    disabled={{not this.hasEnteredSearch}}
                />
            </div>
        </form>
    </div>
    <AnimatedContainer>
        {{!-- TODO create <Alert> component to contain show/hide animation, borderless layout, etc --}}
        {{#animated-if this.hasTooManyResults use=this.animateTransition duration=300 initialInsertion=true}}
            <div class="alert alert-warning mb-0 rounded-0 border-left-0 border-right-0 small">
                <p class="mb-1">
                    <FaIcon @icon="info-circle" />
                    <strong>{{t "search.form.tooManyResults.heading"}}</strong>
                </p>
                <p class="mb-1">
                    {{t
                        "search.form.tooManyResults.numResults"
                        count=(format-number @resultsCount)
                        htmlSafe=true
                    }}
                </p>
                <p class="mb-0">
                    {{t "search.form.tooManyResults.instructions"}}
                </p>
            </div>
        {{/animated-if}}
    </AnimatedContainer>
</div>
