<div class="primary-bg border-divider-b search-form" ...attributes>
    <div class="p-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="mb-0">
                {{t "search.form.heading"}}
            </h5>
            <Search::Form::SavedSearches />
        </div>
        <form>
            <div class="form-group">
                <div class="search-form-term-control">
                    <WordWheel
                        @placeholder={{t "search.form.smartSearch"}}
                        @value={{@smartSearchTerm}}
                        @onChange={{@updateSmartSearchText}}
                    />
                    {{#if this.configuration.content.search.smartSearch.help}}
                        <HelpTooltip
                            @tooltip={{this.configuration.content.search.smartSearch.help}}
                            class="search-form-term-control-help"
                        />
                    {{/if}}
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
                <p class="text-muted mb-0">
                    {{t "search.form.terms.heading"}}
                </p>
                <div class="d-flex align-items-center">
                    <Button
                        @label={{t "search.form.additional.limitTo.title"}}
                        @icon={{if @isLimitOpen "chevron-up" "chevron-down"}}
                        @type="link"
                        @action={{this.toggleLimitFields}}
                        class="p-0 font-size-secondary"
                    />
                    {{#if this.configuration.content.search.limitTo.help}}
                        <HelpTooltip @tooltip={{this.configuration.content.search.limitTo.help}} />
                    {{/if}}
                </div>
            </div>
            <AnimatedContainer>
                {{#animated-if @isLimitOpen use=this.animateTransition duration=this.animateDuration}}
                    <div class="mb-2 p-2 bg-backdrop rounded">
                        <div class="mb-2 d-flex align-items-center">
                            <Input
                                @value={{@citedCount}}
                                type="number"
                                class="form-control form-control-sm form-control-inline-xs form-control-number-no-spin mr-1"
                                maxlength="255"
                                autocomplete="off"
                                {{on "input" this.onLimitTextChange}}
                            />
                            <span class="font-size-secondary text-nowrap">
                                {{t "search.form.additional.cited.times"}}
                            </span>
                        </div>
                        <div class="mb-2 d-flex align-items-center">
                            <Input
                                @value={{@viewedCount}}
                                type="number"
                                class="form-control form-control-sm form-control-inline-xs form-control-number-no-spin mr-1"
                                maxlength="255"
                                autocomplete="off"
                                {{on "input" this.onLimitTextChange}}
                            />
                            <span class="font-size-secondary text-nowrap">
                                {{t "search.form.additional.viewed.times"}}
                            </span>
                            <select
                                class="custom-select custom-select-sm text-truncate ml-1 mr-2"
                                {{on "change" this.onViewedPeriodChange}}
                            >
                                {{#each this.viewPeriodOptions as |period|}}
                                    <option value={{period.id}} selected={{eq period.id @viewedPeriod}}>
                                        {{period.label}}
                                    </option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                {{/animated-if}}
            </AnimatedContainer>
            <AnimatedContainer>
                {{#animated-each @searchTerms use=this.animateTransition duration=this.animateDuration as |searchTerm|}}
                    <Search::Form::TermControl
                        @searchTerm={{searchTerm}}
                        @onTermTextChange={{this.onTermTextChange}}
                        @updateTermText={{this.updateTermText}}
                        @updateTermType={{this.updateTermType}}
                        @removeSearchTerm={{this.removeSearchTerm}}
                        @canRemove={{not-eq @searchTerms.length 1}}
                    />
                {{/animated-each}}
            </AnimatedContainer>
            <div class="d-flex justify-content-between mb-3">
                <Button
                    @label={{t "search.form.terms.add"}}
                    @icon="plus"
                    @type="link"
                    @action={{this.addSearchTerm}}
                    @disabled={{not this.canAddSearchTerm}}
                    class="p-0"
                />
                <div class="d-flex align-items-center">
                    <CheckboxInput
                        @checked={{@matchSynonyms}}
                        @onChange={{@matchSynonymsChange}}
                        @label={{t "search.form.terms.synonyms.title"}}
                    />
                    {{#if this.configuration.content.search.matchSynonyms.help}}
                        <HelpTooltip @tooltip={{this.configuration.content.search.matchSynonyms.help}} />
                    {{/if}}
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <Button @type="link" @label="Clear" @action={{@resetForm}} class="mr-1" />
                <ButtonSpinner
                    @type="primary"
                    @blockLayout={{false}}
                    @wide={{true}}
                    @showSuccess={{false}}
                    @label={{t "common.search"}}
                    @action={{@submit}}
                    disabled={{not this.hasEnteredSearch}}
                />
            </div>
        </form>
    </div>
    <Alert
        @isShown={{this.hasTooManyResults}}
        @type="warning"
        @scrollableNamespace="sidebar-left"
        class="mb-0 border-left-0 rounded-0 small"
    >
        <p class="mb-1 d-flex">
            <span class="mr-1">
                <FaIcon @icon="info-circle" @size="lg" />
            </span>
            <strong>
                {{t "search.form.tooManyResults.heading"}}
            </strong>
        </p>
        <p class="mb-1">
            {{t "search.form.tooManyResults.numResults" count=(format-number @resultsCount) htmlSafe=true}}
        </p>
        <p class="mb-0">
            {{html-safe this.configuration.content.search.tooManyResults.instructions}}
        </p>
    </Alert>
</div>