<div class="bg-white border-divider-b p-3" ...attributes>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="mb-0">
            Search for Documents
        </h5>
        <Button @type="link" title="Saved searches">
            <FaIcon @icon="bookmark" @size="lg" />
        </Button>
    </div>
    <form>
        <div class="form-group">
            <FlInput
                @placeholder="What are you looking for?"
                @value={{@smartSearchTerm}}
                maxlength="255"
            />
        </div>
        <p class="text-muted">Find terms or phrases</p>
        <AnimatedContainer>
            {{#animated-each @searchTerms use=this.termsTransition duration=300 as |searchTerm|}}
                <div class="form-row">
                    <div class="col mb-2">
                        <FlSelect
                            @placeholder="Type"
                            @valuePath="id"
                            @labelPath="label"
                            @options={{this.searchTypes}}
                            @value={{searchTerm.type}}
                            @allowClear={{false}}
                            @onChange={{fn this.updateTermType searchTerm}}
                        />
                    </div>
                    <div class="col mb-2">
                        <div class="d-flex align-items-center">
                            <FlInput
                                @placeholder="Terms"
                                @value={{searchTerm.term}}
                                maxlength="255"
                            />
                            <Button
                                @icon="trash-alt"
                                @type="link"
                                @action={{fn @removeSearchTerm searchTerm}}
                                class="ml-1 p-0"
                                title="Remove term"
                            />
                        </div>
                    </div>
                </div>
            {{/animated-each}}
        </AnimatedContainer>
        <div class="d-flex justify-content-between mb-3">
            <Button
                @label="Add term"
                @icon="plus"
                @type="link"
                @action={{this.addSearchTerm}}
                class="p-0"
            />
            <CheckboxInput
                @checked={{@matchSynonyms}}
                @onChange={{@matchSynonymsChange}}
                @label="Match Synonyms"
            />
        </div>
        <div class="d-flex justify-content-end">
            <Button
                @type="link"
                @label="Clear"
                @action={{@resetForm}}
                class="mr-1"
            />
            <ButtonSpinner
                @type="primary"
                @blockLayout={{false}}
                @wide={{true}}
                @showSuccess={{false}}
                @label="Search"
                @action={{@submit}}
                disabled={{not this.hasEnteredSearch}}
            />
        </div>
    </form>
</div>
