<div class="bg-white border-divider-b p-3 search-form" ...attributes>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h5 class="mb-0">
            Search for Documents
        </h5>
        <Button @type="link" title="Saved searches">
            <FaIcon @icon="bookmark" @size="lg" />
        </Button>
    </div>
    <form>
        <div class="form-group">
            <FlInput
                @placeholder="What are you looking for?"
                @value={{@smartSearchTerm}}
                maxlength="255"
                autocomplete="off"
            />
        </div>
        <p class="text-muted mb-2">Find terms or phrases</p>
        <AnimatedContainer>
            {{#animated-each @searchTerms use=this.termsTransition duration=300 as |searchTerm|}}
                <div class="d-flex mb-2">
                    {{!-- TODO extract term control into <Search::Form::TermControl /> --}}
                    <div class="search-form-term-control flex-fill">
                        <FlInput
                            @placeholder="Terms or phrase"
                            @value={{searchTerm.term}}
                            class="search-form-term-control-text"
                            maxlength="255"
                            autocomplete="off"
                        />
                        <select class="custom-select search-form-term-control-type" {{on "change" (fn this.updateTermType searchTerm)}}>
                            {{#each this.searchTypes as |searchType|}}
                                <option value={{searchType.id}} selected={{eq searchType.id searchTerm.type}}>
                                    {{searchType.label}}
                                </option>
                            {{/each}}
                        </select>
                    </div>
                    <Button
                        @icon="trash-alt"
                        @type="link"
                        @action={{fn @removeSearchTerm searchTerm}}
                        class="ml-1 p-0"
                        title="Remove term"
                    />
                </div>
            {{/animated-each}}
        </AnimatedContainer>
        <div class="d-flex justify-content-between mb-3">
            <Button
                @label="Add term"
                @icon="plus"
                @type="link"
                @action={{this.addSearchTerm}}
                class="p-0"
            />
            <CheckboxInput
                @checked={{@matchSynonyms}}
                @onChange={{@matchSynonymsChange}}
                @label="Match Synonyms"
            />
        </div>
        <div class="d-flex justify-content-end">
            <Button
                @type="link"
                @label="Clear"
                @action={{@resetForm}}
                class="mr-1"
            />
            <ButtonSpinner
                @type="primary"
                @blockLayout={{false}}
                @wide={{true}}
                @showSuccess={{false}}
                @label="Search"
                @action={{@submit}}
                disabled={{not this.hasEnteredSearch}}
            />
        </div>
    </form>
</div>
