<ModalDialog @onClose={{@onClose}} @size="md" @clickOutsideToClose={{false}} as |Modal|>
    <Modal.header @title={{t "relatedInfo.widgets.whatsNew.title"}} />
    <Modal.body>
        <p class="text-muted">
            {{t "relatedInfo.widgets.whatsNew.signUp"}}
        </p>
        <CheckboxInput
            @checked={{this.sendJournalAlerts}}
            @onChange={{fn this.updateUserAlerts "sendJournalAlerts"}}
            @label={{t "relatedInfo.widgets.whatsNew.alerts.journals"}}
        />
        <CheckboxInput
            @checked={{this.sendVideoAlerts}}
            @onChange={{fn this.updateUserAlerts "sendVideoAlerts"}}
            @label={{t "relatedInfo.widgets.whatsNew.alerts.videos"}}
        />
    </Modal.body>
    <Modal.footer>
        <Button @type="link" @label={{t "common.cancel"}} @action={{@onClose}} />
        <ButtonSpinner
            @type="primary"
            @label={{t "relatedInfo.widgets.whatsNew.update"}}
            @wide={{true}}
            @action={{this.update}}
        />
    </Modal.footer>
</ModalDialog>