<ModalDialog @onClose={{@onClose}} @size="md" @clickOutsideToClose={{false}} as |Modal|>
    <Modal.header @title={{t "login.title"}} />
    <Forms::Login
        @wrapperComponent={{component 'modal-dialog/body'}}
        @isModal={{true}}
        @logins={{@options.logins}}
        @genericLoginUrl={{@options.genericLoginUrl}}
        @padsLoginUrl={{@options.padsLoginUrl}}
        @padsForgotPasswordUrl={{@options.padsForgotPasswordUrl}}
        @padsRegisterUrl={{@options.padsRegisterUrl}}
        @onClose={{@onClose}}
        as |changeset validator|
    >
        <Modal.footer>
            <div class="d-flex w-100 justify-content-between align-items-center">
                <p class="mb-0 text-muted">
                    <Button
                        @type="link"
                        @label={{t "login.federatedLogin"}}
                        @action={{this.showFederatedLogins}}
                        class="pl-0"
                    />
                </p>
                <div>
                    <Button @type="link" @label={{t "common.cancel"}} @action={{@onClose}} />
                    <ButtonSpinner
                        @type="primary"
                        @label={{t "login.title"}}
                        @wide={{true}}
                        @action={{validator.submit}}
                    />
                </div>
            </div>
        </Modal.footer>
    </Forms::Login>
</ModalDialog>