<CollapsiblePanel
    @scrollableNamespace="sidebar-right"
    @isOpen={{this.isOpen}}
    @toggle={{fn @toggleIsOpen this.widget}}
    class="mb-2 page-widget"
    ...attributes
    {{did-insert this.onElementInsert}} as |Panel|
>
    <Panel.header
        @title={{t "relatedInfo.widgets.mostViewed.title"}}
        @tooltip={{t "relatedInfo.widgets.mostViewed.help"}}
    />
    <Panel.body>
        <ContentWithPlaceholder @placeholderComponent="loading/widget" @isLoading={{this.loadResults.isRunning}}>
            <ul class="list-unstyled">
                {{#each this.results as |result|}}
                    <li class="mb-2">
                        <div>
                            <LinkTo @route="read.document" @model={{result.id}}>
                                {{html-safe result.documentRef}}
                            </LinkTo>
                        </div>
                    </li>
                {{else}}
                    <li class="py-3 mb-0 text-center text-muted">
                        {{t "common.noResults"}}
                    </li>
                {{/each}}
            </ul>
            <LinkTo @route="most-viewed">
                {{t "common.viewAll"}}
                <FaIcon @icon="arrow-right" @prefix="fal" />
            </LinkTo>
        </ContentWithPlaceholder>
    </Panel.body>
</CollapsiblePanel>