<CollapsiblePanel
    @scrollableNamespace="sidebar-right"
    @title={{t "relatedInfo.widgets.mostViewed.title"}}
    @isOpen={{this.isOpen}}
    @toggle={{fn (mut this.isOpen)}}
    class="mb-2"
    {{did-insert this.onElementInsert}}
    ...attributes
>
    <ContentWithPlaceholder
        @placeholderComponent="loading/widget"
        @isLoading={{this.isLoading}}
    >
        <ul class="list-unstyled">
            {{#each this.results as |result|}}
                <li class="mb-2">
                    <div>
                        <LinkTo @route="read.document" @model={{result.id}}>
                            {{html-safe result.title}}
                        </LinkTo>
                        <div class="text-muted small">
                            {{html-safe result.sourceTitle}}
                        </div>
                    </div>
                </li>
            {{else}}
                <li class="py-3 mb-0 text-center text-muted">
                    {{t "common.noResults"}}
                </li>
            {{/each}}
        </ul>
    </ContentWithPlaceholder>
</CollapsiblePanel>
