<div class="card">
    <div class="card-body page-content-section flex-fill">
        {{#if @model}}
            <Alert @isShown={{@model.accessLimited}} @type="warning">
                {{#if @model.noAccessMessage}}
                    <p class={{if this.session.isAuthenticated "mb-0"}}>
                        {{html-safe @model.noAccessMessage}}
                    </p>
                {{/if}}
                {{#unless this.session.isAuthenticated}}
                    <p class="mb-0">
                        {{t "read.document.loginToRead"}}
                        <a href="" {{on "click" this.login}}>
                            {{t "read.document.login"}}
                        </a>
                        .
                    </p>
                {{/unless}}
            </Alert>
            <div class="pep-document-content" id="read-document">
                <ContentWithPlaceholder @placeholderInFastboot={{true}} @isLoading={{not @model}}>
                    <Document::Text
                        @document={{@model}}
                        @onGlossaryItemClick={{this.viewGlossaryTerm}}
                        @page={{@page}}
                        @searchQueryParams={{@searchQueryParams}}
                        @viewSearch={{this.viewSearch}}
                        @searchHitNumber={{@searchHitNumber}}
                        @hasWatermark={{this.hasWatermark}}
                        @viewablePageUpdate={{@viewablePageUpdate}}
                        @documentRendered={{this.documentRendered}}
                        @scrollableServiceTarget="page-content"
                    />
                </ContentWithPlaceholder>
            </div>
        {{/if}}
    </div>
</div>