{{page-title (t "read.title" title=this.document.title)}}
<Page::Content>
    <div class="p-4 form-row">
        <div class="card col-sm-8">
            <div class="card-body">
                <FormValidator @changeset={{this.changeset}} @submit={{this.save}} as |changeset validator|>
                    <div class="form-row">
                        <div class="col-sm-10 offset-sm-1 p-0">
                            <validator.input
                                @errors={{changeset.error.configSettings.global.cards.videoPreview.code.validation}}
                                @fieldLabel="Nested Item1"
                                @label={{true}}
                            >
                                <ChangesetInput
                                    @changeset={{changeset}}
                                    @path="configSettings.global.cards.videoPreview.code"
                                    class="form-control"
                                    autocomplete="off"
                                />
                            </validator.input>
                            <validator.input
                                @errors={{changeset.error.configSettings.global.cards.whatsNew.limit.validation}}
                                @fieldLabel="Nested Item2"
                                @label={{true}}
                            >
                                <ChangesetInput
                                    @changeset={{changeset}}
                                    @path="configSettings.global.cards.whatsNew.limit"
                                    class="form-control"
                                    autocomplete="off"
                                />
                            </validator.input>

                            <div class="d-flex  justify-content-end align-items-center">
                                <div>
                                    <ButtonSpinner
                                        @type="primary"
                                        @label={{t "common.save"}}
                                        @wide={{true}}
                                        @action={{validator.submit}}
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </FormValidator>
            </div>
        </div>
    </div>
</Page::Content>