<CollapsiblePanel
    @scrollableNamespace="sidebar-right"
    @isOpen={{this.isOpen}}
    @toggle={{fn @toggleIsOpen this.widget}}
    class="mb-2"
    {{did-insert this.onElementChange}}
    {{did-update this.onElementChange this.data}} as |Panel|
>
    <Panel.header
        @title={{t "relatedInfo.widgets.moreLikeThese.title"}}
        @tooltip={{t "relatedInfo.widgets.moreLikeThese.help"}}
    />
    <Panel.body>
        <ContentWithPlaceholder
            @placeholderComponent="loading/widget"
            @isLoading={{this.loadSimilarFromDocument.isRunning}}
        >
            {{#if this.results.similarMaxScore}}
                <h6>
                    {{t "relatedInfo.widgets.moreLikeThese.confidence" number=(round this.results.similarMaxScore)}}
                </h6>
            {{/if}}
            <ul class="list-unstyled">
                {{#each this.results.similarDocuments as |result|}}
                    <li class="mb-2">
                        <div>
                            <LinkTo @route="browse.read" @model={{result.id}}>
                                {{html-safe result.title}}
                            </LinkTo>
                            <div class="text-muted small">
                                {{html-safe result.sourceTitle}}
                            </div>
                        </div>
                    </li>
                {{else}}
                    <li class="py-3 mb-0 text-center text-muted">
                        {{t "relatedInfo.widgets.moreLikeThese.noResults"}}
                    </li>
                {{/each}}
            </ul>
        </ContentWithPlaceholder>
    </Panel.body>
</CollapsiblePanel>