<div class="px-2 pb-1 d-flex justify-content-between align-items-center" ...attributes>
    <h5 class="m-0">{{t "relatedInfo.title"}}</h5>
    <Button
        @type="link"
        @action={{this.toggleAll}}
        @label={{t (if this.showCloseAll "relatedInfo.batchClose" "relatedInfo.batchOpen")}}
        @icon={{if this.showCloseAll "chevron-up" "chevron-down"}}
        class="p-0 font-size-secondary"
    />
</div>
<div class="p-2">
    {{#each @widgets as |widget|}}
        {{component
            (concat "page/sidebar/widgets/" widget.widget)
            toggleIsOpen=this.toggleIsOpen
            openWidgets=this.openWidgets
            data=@data
        }}
    {{/each}}
</div>