
<CollapsiblePanel
    @scrollableNamespace="sidebar-right"
    @isOpen={{this.isOpen}}
    @toggle={{fn @toggleIsOpen this.widget}}
    class="mb-2"
as |Panel|>
    <Panel.header @title={{t "relatedInfo.widgets.videoPreview.title"}} />
    <Panel.body>
        <div class="embed-responsive embed-responsive-{{this.configuration.base.global.video.aspectRatio}}">
            {{html-safe this.configuration.base.global.video.code}}
        </div>
    </Panel.body>
</CollapsiblePanel>
