<ModalDialog @onClose={{@onClose}} @size="md" as |Modal|>
    <Modal.header @title={{t "preferences.title"}} />
    <Modal.body>
        <p class="text-muted">
            {{t "preferences.info"}}
        </p>
        <div class="mb-4">
            <div class="form-row">
                <div class="col-sm-7">
                    <FlSelect
                        @options={{this.theme.themeOptions}}
                        @value={{this.theme.currentTheme.id}}
                        @valuePath="id"
                        @labelPath="label"
                        @placeholder={{t "preferences.theme.label"}}
                        @emptyOptionText={{t "preferences.theme.select"}}
                        @allowClear={{false}}
                        @onChange={{this.updateTheme}}
                    />
                </div>
            </div>
        </div>
    </Modal.body>
    <Modal.footer>
        <Button
            @type="primary"
            @label={{t "common.done"}}
            @wide={{true}}
            @action={{this.done}}
        />
    </Modal.footer>
</ModalDialog>
