{{page-title (t "admin.title")}}
<Page::Content>
    <FormValidator @changeset={{this.changeset}} @submit={{this.save}} as |changeset validator|>
        <div class="d-flex">
            <div class="col-lg-8">
                <div class="d-flex justify-content-between align-items-center sticky-top bg-body p-3">
                    <h2 class="mb-0">
                        {{t "admin.common.title"}}
                    </h2>
                    <ButtonSpinner
                        @disabled={{this.saveDisabled}}
                        @type="primary"
                        @label={{t "common.save"}}
                        @wide={{true}}
                        @action={{validator.submit}}
                    />
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-12">
                                <h4 class="border-bottom mb-3">
                                    {{t "admin.common.global.notifications.title"}}
                                </h4>
                                <div class="form-row">
                                    <div class="col-12">
                                        <validator.input
                                            @errors={{changeset.error.configSettings.global.notifications.validation}}
                                        >
                                            <FlInput
                                                @value={{changeset.configSettings.global.notificationMessage}}
                                                @placeholder={{t "admin.common.global.notifications.message"}}
                                            >
                                                <ChangesetTextarea
                                                    @changeset={{changeset}}
                                                    @path="configSettings.global.notificationMessage"
                                                />
                                            </FlInput>
                                        </validator.input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-12">
                                <h4 class="border-bottom mb-3">
                                    {{t "admin.common.global.cards.limitsTitle"}}
                                </h4>
                                <div class="form-row">
                                    <div class="col-3">
                                        <validator.input
                                            @errors={{changeset.error.configSettings.global.cards.whatsNew.limit.validation}}
                                        >
                                            <FlInput
                                                @value={{changeset.configSettings.global.cards.whatsNew.limit}}
                                                @placeholder={{t "admin.common.global.cards.whatsNew.limit"}}
                                            >
                                                <ChangesetInput
                                                    @changeset={{changeset}}
                                                    @path="configSettings.global.cards.whatsNew.limit"
                                                    class="form-control"
                                                    autocomplete="off"
                                                />
                                            </FlInput>
                                        </validator.input>
                                        <validator.input
                                            @errors={{changeset.error.configSettings.global.cards.mostCited.limit.validation}}
                                        >
                                            <FlInput
                                                @value={{changeset.configSettings.global.cards.mostCited.limit}}
                                                @placeholder={{t "admin.common.global.cards.mostCited.limit"}}
                                            >
                                                <ChangesetInput
                                                    @changeset={{changeset}}
                                                    @path="configSettings.global.cards.mostCited.limit"
                                                    class="form-control"
                                                    autocomplete="off"
                                                />
                                            </FlInput>
                                        </validator.input>
                                        <validator.input
                                            @errors={{changeset.error.configSettings.global.cards.mostViewed.limit.validation}}
                                        >
                                            <FlInput
                                                @value={{changeset.configSettings.global.cards.mostViewed.limit}}
                                                @placeholder={{t "admin.common.global.cards.mostViewed.limit"}}
                                            >
                                                <ChangesetInput
                                                    @changeset={{changeset}}
                                                    @path="configSettings.global.cards.mostViewed.limit"
                                                    class="form-control"
                                                    autocomplete="off"
                                                />
                                            </FlInput>
                                        </validator.input>
                                        <validator.input
                                            @errors={{changeset.error.configSettings.global.cards.glossary.limit.search.validation}}
                                        >
                                            <FlInput
                                                @value={{changeset.configSettings.global.cards.glossary.limit.search}}
                                                @placeholder={{t "admin.common.global.cards.glossary.searchLimit"}}
                                            >
                                                <ChangesetInput
                                                    @changeset={{changeset}}
                                                    @path="configSettings.global.cards.glossary.limit.search"
                                                    class="form-control"
                                                    autocomplete="off"
                                                />
                                            </FlInput>
                                        </validator.input>
                                        <validator.input
                                            @errors={{changeset.error.configSettings.global.cards.glossary.limit.read.validation}}
                                        >
                                            <FlInput
                                                @value={{changeset.configSettings.global.cards.glossary.limit.read}}
                                                @placeholder={{t "admin.common.global.cards.glossary.readLimit"}}
                                            >
                                                <ChangesetInput
                                                    @changeset={{changeset}}
                                                    @path="configSettings.global.cards.glossary.limit.read"
                                                    class="form-control"
                                                    autocomplete="off"
                                                />
                                            </FlInput>
                                        </validator.input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-12">
                                <h4 class="border-bottom mb-3">
                                    {{t "admin.common.search.title"}}
                                </h4>
                                <div class="form-row">
                                    <div class="col-3">
                                        <validator.input
                                            @errors={{changeset.error.configSettings.search.hitsInContext.limit.validation}}
                                        >
                                            <FlInput
                                                @value={{changeset.configSettings.search.hitsInContext.limit}}
                                                @placeholder={{t "admin.common.search.hitsInContext.limit"}}
                                            >
                                                <ChangesetInput
                                                    @changeset={{changeset}}
                                                    @path="configSettings.search.hitsInContext.limit"
                                                    class="form-control"
                                                    autocomplete="off"
                                                />
                                            </FlInput>
                                        </validator.input>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-3">
                                        <validator.input
                                            @errors={{changeset.error.configSettings.search.limitFields.isShown.validation}}
                                        >
                                            <ChangesetCheckbox
                                                @changeset={{changeset}}
                                                @path="configSettings.search.limitFields.isShown"
                                                @label={{t "admin.common.search.limitFields.isShown"}}
                                            />
                                        </validator.input>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-6">
                                        <validator.input
                                            @errors={{changeset.error.configSettings.global.searchHelpVideoUrl.validation}}
                                        >
                                            <FlInput
                                                @value={{changeset.configSettings.global.searchHelpVideoUrl}}
                                                @placeholder={{t "admin.common.global.searchHelpVideoUrl"}}
                                            >
                                                <ChangesetInput
                                                    @changeset={{changeset}}
                                                    @path="configSettings.global.searchHelpVideoUrl"
                                                    class="form-control"
                                                    autocomplete="off"
                                                />
                                            </FlInput>
                                        </validator.input>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-12">
                                <SortableGroup
                                    @swapAnimation={{true}}
                                    @mirrorOptions={{this.mirrorOptions}}
                                    @dragActions={{hash start=(fn this.dragStart)}}
                                    class="row"
                                    as |Group|
                                >
                                    <div class="col-12">
                                        <div class="row">
                                            <h4 class="col-6 d-flex justify-content-center align-items-end">
                                                {{t "admin.common.global.cards.left"}}
                                            </h4>
                                            <h4 class="col-6 d-flex justify-content-center align-items-end">
                                                {{t "admin.common.global.cards.right"}}
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="sortable container-list col-6">
                                        <Group.container
                                            @items={{this.leftSidebarItems}}
                                            @itemReordered={{this.updateLeftSidebarItems}}
                                            @itemAdded={{this.updateLeftSidebarItems}}
                                            @itemRemoved={{this.updateLeftSidebarItems}}
                                            as |container|
                                        >
                                            {{#each container.items as |item index|}}
                                                <container.item @item={{item}}>
                                                    <div
                                                        class="d-flex justify-content-between align-items-center w-100"
                                                    >
                                                        {{item.widget}}
                                                        <CheckboxInput
                                                            @checked={{item.open}}
                                                            @onChange={{fn this.updateOpenState changeset index "left"}}
                                                            @label={{t "admin.common.global.cards.opened"}}
                                                        />
                                                    </div>
                                                </container.item>
                                            {{/each}}
                                        </Group.container>
                                    </div>
                                    <div class="sortable container-list col-6">
                                        <Group.container
                                            @items={{this.rightSidebarItems}}
                                            @itemReordered={{this.updateRightSidebarItems}}
                                            @itemAdded={{this.updateRightSidebarItems}}
                                            @itemRemoved={{this.updateRightSidebarItems}}
                                            as |container|
                                        >
                                            {{#each container.items as |item index|}}
                                                <container.item @item={{item}}>
                                                    <div
                                                        class="d-flex justify-content-between align-items-center w-100"
                                                    >
                                                        {{item.widget}}
                                                        <CheckboxInput
                                                            @checked={{item.open}}
                                                            @onChange={{fn
                                                                this.updateOpenState
                                                                changeset
                                                                index
                                                                "right"
                                                            }}
                                                            @label={{t "admin.common.global.cards.opened"}}
                                                        />
                                                    </div>
                                                </container.item>
                                            {{/each}}
                                        </Group.container>
                                    </div>
                                </SortableGroup>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-12">
                                <SortableGroup
                                    @swapAnimation={{true}}
                                    @mirrorOptions={{this.mirrorOptions}}
                                    class="row"
                                    as |Group|
                                >
                                    <h4 class="col-12 d-flex justify-content-between align-items-center">
                                        {{t "admin.common.search.terms.defaults"}}
                                        <Button
                                            @type="primary"
                                            @blockLayout={{this.fastbootMedia.isMobile}}
                                            @icon="plus"
                                            @action={{fn this.addDefaultField}}
                                        />
                                    </h4>
                                    <div class="sortable container-list col-12">
                                        <Group.container
                                            @items={{this.fields}}
                                            @itemReordered={{this.updateFields}}
                                            as |container|
                                        >
                                            {{#each container.items as |item index|}}
                                                <container.item @item={{item}}>
                                                    <div
                                                        class="d-flex justify-content-between align-items-center w-100"
                                                    >
                                                        <select
                                                            class="custom-select col-2"
                                                            {{on "change" (fn this.updateDefaultField index)}}
                                                        >
                                                            {{#each this.searchTypeOptions as |searchType|}}
                                                                <option
                                                                    value={{searchType.id}}
                                                                    selected={{eq searchType.id item.field}}
                                                                >
                                                                    {{t searchType.label}}
                                                                </option>
                                                            {{/each}}
                                                        </select>

                                                        <Button
                                                            @type="secondary"
                                                            @blockLayout={{this.fastbootMedia.isMobile}}
                                                            @icon="times"
                                                            @action={{fn this.removeDefaultField index}}
                                                        />
                                                    </div>
                                                </container.item>
                                            {{/each}}
                                        </Group.container>
                                    </div>
                                </SortableGroup>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-12">
                                <h4 class="d-flex justify-content-between align-items-center border-bottom mb-3 pb-1">
                                    {{t "admin.common.home.expertPicks.title"}}
                                    <Button
                                        @action={{this.openExpertPickModal}}
                                        @icon="plus"
                                        @iconSize="lg"
                                        class="p-1"
                                    />
                                </h4>
                                <Table
                                    @containerSelector=".page-content-inner"
                                    @columns={{this.columns}}
                                    @rows={{changeset.configSettings.home.expertPicks}}
                                    @fillMode="nth-column"
                                    @fillColumnIndex={{0}}
                                    @renderAllRows={{this.fastboot.isFastBoot}}
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-12">
                                <h4 class="d-flex justify-content-between align-items-center border-bottom mb-3 pb-1">
                                    {{t "admin.common.global.embargoDate.title"}}
                                </h4>
                                <PowerCalendar
                                    @center={{this.calendarCenter}}
                                    @onCenterChange={{action (mut this.calendarCenterDate) value="date"}}
                                    @selected={{this.embargoDate}}
                                    @onSelect={{this.onEmbargoDateChange}}
                                    class="power-calendar-large"
                                    as |calendar|
                                >
                                    <calendar.Nav />
                                    <calendar.Days />
                                </PowerCalendar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-12">
                                <h4 class="d-flex justify-content-between align-items-center border-bottom mb-3 pb-1">
                                    {{t "admin.common.global.cards.videos.title"}}
                                    <Button @action={{this.openVideoModal}} @icon="plus" @iconSize="lg" class="p-1" />
                                </h4>
                                <Table
                                    @containerSelector=".page-content-inner"
                                    @columns={{this.videoPreviewColumns}}
                                    @rows={{changeset.configSettings.global.cards.videoPreviews}}
                                    @fillMode="nth-column"
                                    @fillColumnIndex={{0}}
                                    @renderAllRows={{this.fastboot.isFastBoot}}
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-12">
                                <h4 class="d-flex justify-content-between align-items-center border-bottom mb-3 pb-1">
                                    {{t "admin.common.global.cards.topicalVideos.title"}}
                                    <Button
                                        @action={{this.openTopicalVideoModal}}
                                        @icon="plus"
                                        @iconSize="lg"
                                        class="p-1"
                                    />
                                </h4>
                                <Table
                                    @containerSelector=".page-content-inner"
                                    @columns={{this.topicalVideoPreviewColumns}}
                                    @rows={{changeset.configSettings.global.cards.topicalVideoPreviews}}
                                    @fillMode="nth-column"
                                    @fillColumnIndex={{0}}
                                    @renderAllRows={{this.fastboot.isFastBoot}}
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-12">
                                <h4 class="d-flex justify-content-between align-items-center border-bottom mb-3 pb-1">
                                    {{t "admin.common.global.statusTitle"}}
                                    <CopyButton
                                        class="p-1 btn btn-link"
                                        @success={{this.clipboardSuccess}}
                                        @error={{this.clipboardFailure}}
                                        @clipboardText={{this.model.status}}
                                        title={{t "search.exports.clipboard"}}
                                    >
                                        <FaIcon @icon="clipboard" @size="lg" />
                                    </CopyButton>
                                </h4>
                                <pre style="max-height: 512px;"><code>{{this.model.status}}</code></pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="col-12">
                                <h4 class="d-flex justify-content-between align-items-center border-bottom mb-3 pb-1">
                                    {{t "admin.common.global.reportTitle"}}
                                </h4>
                                <fieldset class="mb-4">
                                    <legend class="text-muted mb-2 radio-input-legend">
                                        {{t "exports.report.options.legend"}}
                                    </legend>
                                    <RadioInput
                                        @label={{t "exports.report.options.characterCountReport"}}
                                        @checked={{eq this.selectedReport "Character-Count-Report"}}
                                        @value="Character-Count-Report"
                                        @onChange={{fn this.updateSelectedReport}}
                                        class="mb-1"
                                    />
                                    <RadioInput
                                        @label={{t "exports.report.options.characterCountDetailsBookReport"}}
                                        @checked={{eq this.selectedReport "Character-Count-Details-Book-Report"}}
                                        @value="Character-Count-Details-Book-Report"
                                        @onChange={{fn this.updateSelectedReport}}
                                        class="mb-1"
                                    />
                                    <RadioInput
                                        @label={{t "exports.report.options.characterCountDetailsReport"}}
                                        @checked={{eq this.selectedReport "Character-Count-Details-Report"}}
                                        @value="Character-Count-Details-Report"
                                        @onChange={{fn this.updateSelectedReport}}
                                        class="mb-1"
                                    />
                                    <RadioInput
                                        @label={{t "exports.report.options.documentViewLog"}}
                                        @checked={{eq this.selectedReport "Document-View-Log"}}
                                        @value="Document-View-Log"
                                        @onChange={{fn this.updateSelectedReport}}
                                        class="mb-1"
                                    />
                                    <RadioInput
                                        @label={{t "exports.report.options.documentViewStat"}}
                                        @checked={{eq this.selectedReport "Document-View-Stat"}}
                                        @value="Document-View-Stat"
                                        @onChange={{fn this.updateSelectedReport}}
                                        class="mb-1"
                                    />
                                    <RadioInput
                                        @label={{t "exports.report.options.userSearches"}}
                                        @checked={{eq this.selectedReport "User-Searches"}}
                                        @value="User-Searches"
                                        @onChange={{fn this.updateSelectedReport}}
                                        class="mb-1"
                                    />
                                    <RadioInput
                                        @label={{t "exports.report.options.sessionLog"}}
                                        @checked={{eq this.selectedReport "Session-Log"}}
                                        @value="Session-Log"
                                        @onChange={{fn this.updateSelectedReport}}
                                        @onChange={{fn this.updateSelectedReport}}
                                        class="mb-1"
                                    />
                                    <RadioInput
                                        @label={{t "exports.report.options.productTable"}}
                                        @checked={{eq this.selectedReport "Product-Table"}}
                                        @value="Product-Table"
                                        @onChange={{fn this.updateSelectedReport}}
                                    />
                                </fieldset>
                                <fieldset class="mb-4">
                                    <legend class="text-muted mb-3 radio-input-legend">
                                        {{t "exports.report.config.legend"}}
                                    </legend>
                                    <FlInput
                                        @value={{this.reportLimit}}
                                        @placeholder={{t "exports.report.config.limit"}}
                                        class="mb-2"
                                        style="max-width:320px;"
                                    />
                                    <FlInput
                                        @value={{this.reportOffset}}
                                        @placeholder={{t "exports.report.config.offset"}}
                                        style="max-width:320px;"
                                    />
                                </fieldset>
                                <ButtonSpinner
                                    @type="primary"
                                    @label={{t "exports.report.generate"}}
                                    @wide={{true}}
                                    @action={{this.downloadReport}}
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </FormValidator>
</Page::Content>