<CollapsiblePanel
    @scrollableNamespace="sidebar-right"
    @isOpen={{this.isOpen}}
    @toggle={{fn @toggleIsOpen this.widget}}
    {{did-insert this.onElementInsert}}
    class="mb-2"
as |Panel|>
    <Panel.header @title={{t "relatedInfo.widgets.expertPicks.title"}} />
    <Panel.body>
        <ContentWithPlaceholder
            @placeholderComponent="loading/widget"
            @isLoading={{this.loadResults.isRunning}}
        >

            <ul class="list-unstyled">
                {{#each this.results as |result|}}
                    <li class="mb-2">
                        <div>
                            <LinkTo @route="read.document" @model={{result.id}}>
                                {{html-safe result.title}}
                            </LinkTo>
                            <div class="text-muted small">
                                {{html-safe result.sourceTitle}}
                            </div>
                        </div>
                    </li>
                {{else}}
                    <li class="py-3 mb-0 text-center text-muted">
                        {{t "common.noResults"}}
                    </li>
                {{/each}}
            </ul>
        </ContentWithPlaceholder>
    </Panel.body>
</CollapsiblePanel>
