<CollapsiblePanel
    @scrollableNamespace="sidebar-right"
    @isOpen={{this.isOpen}}
    @toggle={{fn @toggleIsOpen this.widget}}
    class="mb-2"
    {{did-insert this.onElementInsert}} as |Panel|
>
    <Panel.header
        @title={{t "relatedInfo.widgets.expertPicks.title"}}
        @tooltip={{this.configuration.content.global.cards.expertPicks.help}}
    />
    <Panel.body>
        <ContentWithPlaceholder @placeholderComponent="loading/widget" @isLoading={{this.loadResults.isRunning}}>
            <ul class="list-unstyled">
                {{#each this.results as |result|}}
                    <li class="mb-2">
                        <div>
                            <LinkTo @route="browse.read" @model={{result.id}}>
                                {{html-safe result.documentRef}}
                            </LinkTo>
                        </div>
                    </li>
                {{else}}
                    <li class="py-3 mb-0 text-center text-muted">
                        {{t "common.noResults"}}
                    </li>
                {{/each}}
            </ul>
        </ContentWithPlaceholder>
    </Panel.body>
</CollapsiblePanel>