<span class="mr-0 mr-sm-5 my-2 my-sm-0 d-flex">
    {{t "informationBars.settingsAuth.title"}}
</span>
<div class="d-flex">
    <Button
        @type="primary"
        @wide={{true}}
        @action={{this.login}}
        @label={{t "informationBars.settingsAuth.buttons.signIn"}}
    />
    <Button @type="link" @action={{@close}} @label={{t "common.cancel"}} />
</div>