<span class="button-with-tooltip {{@containerClass}}">
    <Button
        @label={{@label}}
        @icon={{@icon}}
        @iconPrefix={{@iconPrefix}}
        @iconSize={{@iconSize}}
        @type={{@type}}
        @action={{@action}}
        ...attributes
    />
    <EmberTooltip
        @text={{@tooltip}}
        @class={{@tooltipClass}}
        @side={{this.tooltipSide}}
        @spacing={{this.tooltipSpacing}}
        @effect={{this.tooltipEffect}}
        @popperContainer={{this.tooltipContainer}}
        @innerClass=""
    />
</span>
