<span class="button-with-tooltip {{@containerClass}}">
    <Button
        @label={{@label}}
        @icon={{@icon}}
        @iconPrefix={{@iconPrefix}}
        @iconSize={{@iconSize}}
        @type={{@type}}
        @action={{@action}}
        ...attributes
        title={{unless this.tooltipVisible @title}}
    />
    {{#if this.tooltipVisible}}
        <EmberTooltip
            @text={{@tooltip}}
            @class={{@tooltipClass}}
            @side={{this.tooltipSide}}
            @spacing={{this.tooltipSpacing}}
            @effect={{this.tooltipEffect}}
            @popperContainer={{this.tooltipContainer}}
            @innerClass=""
        />
    {{/if}}
</span>
