<div class="collapsible-panel-header d-block d-flex align-items-center">
    <button
        type="button"
        class="d-flex align-items-center flex-grow-1 p-3 collapsible-panel-toggle"
        {{on "click" @toggle}}
    >
        <FaIcon
            @icon={{if @isOpen "caret-down" "caret-right"}}
            @fixedWidth={{true}}
            class="text-body mr-1 d-inline-block"
        />
        {{#if @title}}
            <h5 class="mb-0 text-dark">
                {{@title}}
            </h5>
        {{/if}}
        {{yield}}
    </button>
    {{#if @tooltip}}
        <HelpTooltip @tooltip={{@tooltip}} class="widget-tooltip mr-2" />
    {{/if}}
</div>