<div class="collapsible-panel-header d-block d-flex align-items-center">
    <button
        type="button"
        class="d-flex align-items-center flex-grow-1 p-3 collapsible-panel-toggle"
        {{on "click" @toggle}}
    >
        <FaIcon
            @icon={{if @isOpen "caret-down" "caret-right"}}
            @fixedWidth={{true}}
            class="text-primary mr-1 d-inline-block"
        />
        {{#if @title}}
            <h5 class="mb-0 text-dark">{{@title}}</h5>
        {{/if}}
        {{yield}}
    </button>
    {{#if @secondaryAction}}
        <button
            type="button"
            class="p-3 collapsible-panel-action"
            aria-label={{@secondaryAction.label}}
            title={{unless this.fastbootMedia.isLargeDevice @secondaryAction.label}}
            {{on "click" @secondaryAction.action}}
        >
            <FaIcon
                @icon={{@secondaryAction.icon}}
                @fixedWidth={{true}}
                class="collapsible-panel-action-icon"
                @size="lg"
            />
            {{#if this.fastbootMedia.isLargeDevice}}
                <EmberTooltip
                    @text={{@secondaryAction.label}}
                    @popperContainer="body"
                    @side="left"
                    @spacing={{5}}
                    @effect="slide"
                    @innerClass=""
                />
            {{/if}}
        </button>
    {{/if}}
</div>
