<Page::Content>
    <div class="py-3 px-4">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-center align-items-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="{{this.journal.bannerURL}}" alt="{{t "browse.alt"}}" />
                    </div>
                </div>
                <div class="pep-document-content m-5">
                    <ContentWithPlaceholder @isLoading={{not this.model}}>
                        <div class="container-fluid">
                            <ul class="list-unstyled row">
                                {{#each this.sortedModels as |result|}}
                                    <li class="col mb-2 text-center volume">
                                        <LinkTo
                                            @route="browse.journal.volume"
                                            @model={{result.id}}
                                            class="d-flex align-items-center justify-content-between"
                                        >
                                            <span>
                                                {{result.vol}}
                                                <span class="text-muted">
                                                    ({{result.year}})
                                                </span>
                                            </span>
                                        </LinkTo>
                                    </li>
                                {{/each}}
                            </ul>
                        </div>
                    </ContentWithPlaceholder>
                </div>
            </div>
        </div>
    </div>
</Page::Content>