{{page-title (t "browse.journal.volume.title" number=this.volumeInformation.vol year=this.volumeInformation.year)}}
<div
    class="page-content page-content-sectioned"
    {{did-insert this.updateContainerMaxHeight}}
    {{did-resize this.updateContainerMaxHeight debounce=250}}
>
    <div class="page-content-section flex-fill">
        <Scrollable @namespace="browse-results" class="page-content-inner">
            <div class="py-3 px-4">
                <div class="d-flex justify-content-between align-items-center mb-2 sticky-top bg-backdrop py-2">
                    <div>
                        {{#if this.volumeInformation}}
                            <div class="d-flex justify-content-center align-items-center">
                                {{#if this.meta.supplementalInfo.prev_vol}}
                                    <Button
                                        @type="link"
                                        @action={{fn this.navigateToVolume this.meta.supplementalInfo.prev_vol.value}}
                                        @icon="chevron-left"
                                        @iconOnly={{true}}
                                    />
                                {{/if}}
                                <span class="mx-2">
                                    {{this.volumeInformation.vol}}
                                </span>
                                {{#if this.meta.supplementalInfo.next_vol}}
                                    <Button
                                        @type="link"
                                        @action={{fn this.navigateToVolume this.meta.supplementalInfo.next_vol.value}}
                                        @icon="chevron-right"
                                        @iconOnly={{true}}
                                    />
                                {{/if}}
                            </div>
                        {{/if}}
                    </div>
                    <div>
                        <DropdownMenu @horizontalPosition="auto-right" as |DD|>
                            <DD.Trigger @htmlTag="a" class="p-1">
                                <FaIcon @icon="download" @size="lg" @prefix="fas" />
                            </DD.Trigger>
                            <DD.Content class="dropdown-menu">
                                <DropdownAction @dd={{DD}} @action={{this.exportCSV}}>
                                    {{t "search.exports.csv"}}
                                </DropdownAction>
                                {{!-- <DropdownAction @dd={{DD}} @action={{this.exportCSV}}>
                                    {{t "search.exports.ris"}}
                                </DropdownAction> --}}
                            </DD.Content>
                        </DropdownMenu>
                        <CopyButton
                            class="p-1 btn btn-link"
                            @success={{this.clipboardSuccess}}
                            @error={{this.clipboardFailure}}
                            @clipboardText={{this.exportClipboard}}
                        >
                            <FaIcon @icon="clipboard" @size="lg" @prefix="fas" />
                        </CopyButton>
                        <Button
                            @action={{this.print}}
                            @type="link"
                            @icon="print"
                            @iconPrefix="fas"
                            @iconSize="lg"
                            @tooltip={{t "common.print"}}
                            class="p-1"
                        />
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-center align-items-center">
                                {{#if this.journal.bannerURL}}
                                    <Image @source="{{this.journal.bannerURL}}" alt="{{this.journal.displayTitle}}" />
                                {{/if}}
                            </div>
                        </div>
                        <h4 class="text-center">
                            {{#if this.volumeInformation}}
                                {{t
                                    "browse.journal.volume.title"
                                    number=this.volumeInformation.vol
                                    year=this.volumeInformation.year
                                }}
                            {{/if}}
                        </h4>
                        <div class="browse m-5">
                            <ContentWithPlaceholder @isLoading={{not this.model}}>
                                <div class="container-fluid">
                                    {{#each this.sortedModels as |mappedIssue|}}
                                        {{#let (get-array-index mappedIssue 1) as |issue|}}
                                            {{#if issue.title}}
                                                <h5>
                                                    <strong>
                                                        {{issue.title}}
                                                    </strong>
                                                </h5>
                                            {{/if}}

                                            <ol class="list-unstyled">
                                                {{#each issue.models as |model|}}
                                                    {{#if model.newSectionName}}
                                                        <li>
                                                            {{model.newSectionName}}
                                                        </li>
                                                    {{/if}}
                                                    <Browse::VolumeItem @item={{model}} @openResult={{this.openResult}} />
                                                {{/each}}
                                                {{#each issue.groups as |mappedGroup|}}
                                                    {{#let (get-array-index mappedGroup 1) as |group|}}
                                                        {{#if group.title}}
                                                            <h5>
                                                                <strong>
                                                                    {{group.title}}
                                                                </strong>
                                                            </h5>
                                                        {{/if}}
                                                        {{#each group.models as |model|}}
                                                            <Browse::VolumeItem @item={{model}} @openResult={{this.openResult}} />
                                                        {{/each}}
                                                    {{/let}}
                                                {{/each}}
                                            </ol>
                                        {{/let}}
                                    {{/each}}
                                </div>
                            </ContentWithPlaceholder>
                        </div>
                    </div>
                </div>
            </div>
        </Scrollable>
    </div>
    <Search::Preview
        @resultId={{this.previewedResult.id}}
        @close={{this.closeResultPreview}}
        @maxHeight={{this.containerMaxHeight}}
        @loadDocument={{this.loadDocument}}
        class="page-content-section"
    />
</div>