<div class="d-flex flex-column justify-content-center align-items-center" {{did-insert this.loadModel}}>
    <h4 class="d-flex flex-column page-content-heading mb-3 w-100">
        {{t "home.heading"}}
        <div class="small text-muted">
            {{t "brand.slogan"}}
        </div>
    </h4>
    <div class="py-3 px-4">
        <div class="row page-content-heading-inset">
            <div class="col-xl-6 d-xl-flex">
                <div class="card mb-4 flex-xl-grow-1">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{html-safe this.intro.left.heading}}
                        </h5>
                        {{#if this.intro.left.subheading}}
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{html-safe this.intro.left.subheading}}
                            </h6>
                        {{/if}}
                        <p class="d-lg-none">
                            <Button
                                @type="primary"
                                @size="lg"
                                @blockLayout={{this.fastbootMedia.isMobile}}
                                @icon="search"
                                @label={{t "home.searchForDocs"}}
                                @action={{this.showSearch}}
                            />
                        </p>
                        {{html-safe this.intro.left.body}}
                    </div>
                </div>
            </div>
            <div class="col-xl-6 d-xl-flex">
                <div class="card mb-4 flex-xl-grow-1">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{html-safe this.intro.right.heading}}
                        </h5>
                        {{#if this.intro.right.subheading}}
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{html-safe this.intro.right.subheading}}
                            </h6>
                        {{/if}}
                        {{html-safe this.intro.right.body}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="border-divider-b mb-3">
                            <h5 class="card-title">
                                {{t "home.expertPick.heading"}}
                            </h5>
                        </div>
                        <ContentWithPlaceholder @placeholderInFastboot={{true}}>
                            <div class="float-xl-right mw-xl-50 ml-xl-3 pl-xl-3 mb-xl-2 d-flex flex-column border-divider-l">
                                <Button
                                    @action={{this.readImageDocument}}
                                >
                                    <Document::Image @id={{this.expertPick.imageId}} class="rounded img-fluid" />
                                </Button>
                            </div>
                            <div class="card-text mb-3">
                                {{#if this.model}}
                                    <Document::Text
                                        @document={{this.model}}
                                        @target="abstract"
                                        @onGlossaryItemClick={{this.viewGlossaryTerm}}
                                    />
                                {{/if}}
                            </div>
                            <div class="card-text mb-3">
                                <Button
                                    @type="primary"
                                    @wide={{true}}
                                    @action={{this.readExpertPick}}
                                    @label={{t
                                        (if
                                            this.session.isAuthenticated
                                            "home.expertPick.read"
                                            "home.expertPick.loginAndRead"
                                        )
                                    }}
                                />
                            </div>
                        </ContentWithPlaceholder>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>