<div class="d-flex flex-column justify-content-center align-items-center" {{did-insert this.loadModel}}>
    <h4 class="d-flex flex-column page-content-heading mb-3 w-100">
        {{t "home.heading"}}
        <div class="small text-muted">
            {{t "brand.slogan"}}
        </div>
    </h4>
    <div class="py-3 px-4">
        <div class="row page-content-heading-inset">
            <div class="col-xl-6 d-xl-flex">
                <div class="card mb-4 flex-xl-grow-1">
                    <div class="card-body">
                        {{html-safe this.intro.left}}
                        <p class="d-lg-none">
                            <Button
                                @type="primary"
                                @size="lg"
                                @blockLayout={{this.fastbootMedia.isMobile}}
                                @icon="search"
                                @label={{t "home.searchForDocs"}}
                                @action={{this.showSearch}}
                            />
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 d-xl-flex">
                <div class="card mb-4 flex-xl-grow-1">
                    <div class="card-body">
                        {{html-safe this.intro.right}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body" {{did-resize this.handleResize debounce=200}}>
                        <div class="border-divider-b mb-3">
                            <h5 class="card-title">
                                {{t "home.expertPick.heading"}}
                            </h5>
                        </div>
                        <ContentWithPlaceholder @placeholderInFastboot={{true}}>
                            <div class="card-text-container d-flex">
                                <div class="card-text mb-3">
                                    {{#if this.model}}
                                        <Document::Text
                                            @document={{this.model}}
                                            @target="abstract"
                                            @onGlossaryItemClick={{this.viewGlossaryTerm}}
                                        />
                                        <div class="card-text mb-3">
                                            <Button
                                                @type="primary"
                                                @wide={{true}}
                                                @action={{this.readExpertPick}}
                                                @label={{t
                                                    (if
                                                        this.session.isAuthenticated
                                                        "home.expertPick.read"
                                                        "home.expertPick.loginAndRead"
                                                    )
                                                }}
                                            />
                                        </div>
                                    {{/if}}
                                </div>
                                <div class="expert-pick-graphic-container d-flex flex-column">
                                    <Button
                                        @action={{this.readImageDocument}}
                                        @type="none"
                                        class="mb-1 px-0 mr-md-auto mr-0"
                                    >
                                        <Document::Image @id={{this.expertPick.imageId}} class="rounded img-fluid" />
                                    </Button>
                                    <a
                                        href={{this.imageArticleUrl}}
                                        class="mb-3 mb-xl-0"
                                        {{on "click" this.readImageDocument}}
                                    >
                                        {{t "home.expertPick.graphicFromTheArticle" title=this.imageArticle.title}}
                                    </a>
                                </div>
                            </div>
                        </ContentWithPlaceholder>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>