<ModalDialog @onClose={{@onClose}} @size="md" @clickOutsideToClose={{false}} as |Modal|>
    <Modal.header @title={{t "preferences.title"}} />
    <Modal.body>
        <p class="text-muted">
            {{t "help.preferences.info"}}
        </p>
        <div class="mb-2">
            <div class="form-row">
                <div class="col-sm-12">
                    <CheckboxInput
                        @checked={{this.currentUser.preferences.tourEnabled}}
                        @onChange={{fn this.updatePreference this.tourEnabled}}
                        @label={{t "help.preferences.tour.title"}}
                    />
                    <div class="small text-muted">
                        {{t "help.preferences.tour.description"}}
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-2">
            <div class="form-row">
                <div class="col-sm-12">
                    <CheckboxInput
                        @checked={{this.currentUser.preferences.helpDescriptionsEnabled}}
                        @onChange={{fn this.updatePreference this.helpDescriptionsEnabled}}
                        @label={{t "help.preferences.descriptions.title"}}
                    />
                    <div class="small text-muted">
                        {{t "help.preferences.descriptions.description"}}
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-2">
            <div class="form-row">
                <div class="col-sm-12">
                    <CheckboxInput
                        @checked={{this.currentUser.preferences.helpIconsEnabled}}
                        @onChange={{fn this.updatePreference this.helpIconsEnabled}}
                        @label={{t "help.preferences.icons.title"}}
                    />
                    <div class="small text-muted">
                        {{t "help.preferences.icons.description"}}
                    </div>
                </div>
            </div>
        </div>
    </Modal.body>
    <Modal.footer>
        <Button @type="primary" @label={{t "common.done"}} @wide={{true}} @action={{this.done}} />
    </Modal.footer>
</ModalDialog>