<BasicDropdown
    @renderInPlace={{true}}
    as |DD|
>
    <FlInput
        @placeholder={{@placeholder}}
        @value={{@value}}
    >
        <input
            type="text"
            class="form-control"
            maxlength="255"
            autocomplete="off"
            aria-haspopup="true"
            aria-expanded={{DD.isOpen}}
            id="{{DD.uniqueId}}-fl-typeahead-input"
            data-ebd-id="{{DD.uniqueId}}-trigger"
            ...attributes
            {{on "input" (fn this.onTextChange DD)}}
            {{on "keydown" (fn this.onInputKeyDown DD)}}
            {{on "focus" (fn this.onInputFocus DD)}}
            {{on "blur" (fn this.onInputBlur DD)}}
            {{did-insert this.onInputInsert}}
        />
    </FlInput>
    <DD.Content
        class="dropdown-menu fl-typeahead-menu {{@menuClassName}}"
        aria-labelledby="{{DD.uniqueId}}-fl-typeahead-input"
    >
        {{#each @suggestions as |suggestion|}}
            <button
                type="button"
                class="dropdown-item {{~if (eq suggestion this.focusedSuggestion) " active"}}"
                {{on "click" (fn this.onSelectSuggestion suggestion DD)}}
            >
                {{suggestion.text}}
            </button>
        {{/each}}
    </DD.Content>
</BasicDropdown>
