<Page::Content>
    <div class="py-3 px-4">
        <div class="d-md-flex justify-content-between align-items-center mb-3">
            <h4 class="mb-0">
                {{t
                    "common.numResults"
                    count=(format-number (or this.paginator.metadata.fullCount 0))
                    htmlSafe=true
                }}
            </h4>
            <div class="d-flex align-items-center">
                <Button
                    @type="link"
                    @icon="download"
                    @iconSize="lg"
                    title={{t "common.export"}}
                    class="p-1"
                />
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <Tables::MostCited
                    @rows={{this.paginator.models}}
                    @hasMoreRows={{this.paginator.hasMore}}
                    @loadMoreRows={{this.paginator.loadMoreModels}}
                    @isLoading={{this.paginator.isLoadingModels}}
                    @updateSorts={{this.paginator.changeSorting}}
                    @sorts={{this.paginator.sorts}}
                />
            </div>
        </div>
    </div>
</Page::Content>
