<div
    class="document-text"
    {{on "click" this.onDocumentClick}}
    {{did-update this.setupListeners this.text}}
    {{did-update this.parseDocument @text}}
    {{did-update this.parseDocument this.currentUser.preferences.translationConcordanceEnabled}}
    {{did-update (fn this.scrollToSearchHit @searchHitNumber) @searchHitNumber}}
>
    {{html-safe this.text}}
</div>