{{! template-lint-disable no-invalid-interactive }}

<div
    class="document-text
        {{@document.sourceType}}
        {{if this.currentUser.preferences.glossaryFormattingEnabled 'glossary-highlight'}}
        {{this.currentUser.textJustification.class}}
        {{if @watermark 'has-watermark'}}
        {{if @watermark (concat 'has-watermark-' @watermark)}}"
    {{on "click" this.onDocumentClick}}
    {{did-insert this.parseDocument}}
    {{did-update this.setupListeners this.text}}
    {{did-update this.parseDocument @document}}
    {{did-value-update this.parseDocument this.currentUser.preferences.translationConcordanceEnabled}}
    {{did-update (fn this.scrollToSearchHit @searchHitNumber) @searchHitNumber}}
>
    {{html-safe this.text}}
    <Bibliography @documentId={{@document.PEPCode}} />
</div>