<Page::Sidebar @side="left" as |Sidebar|>
    <Sidebar.content>
        <Search::Form
            @smartSearchTerm={{this.smartSearchTerm}}
            @searchTerms={{this.searchTerms}}
            @matchSynonyms={{this.matchSynonyms}}
            @submit={{this.submitSearch}}
            @resetForm={{this.clearSearch}}
            @addSearchTerm={{this.addSearchTerm}}
            @removeSearchTerm={{this.removeSearchTerm}}
            @updateSearchTerm={{this.updateSearchTerm}}
            @matchSynonymsChange={{this.updateMatchSynonyms}}
            class="mb-2"
        />
        <div class="p-3">
            <h5>{{t "browse.title"}}</h5>
            {{!-- Browse UI here --}}
        </div>
    </Sidebar.content>
</Page::Sidebar>
