<Page::Sidebar::Left as |Sidebar|>
    <Sidebar.content>
        <div class="p-3 primary-bg">
            <h5 class="d-flex justify-content-between align-items-center mb-3">
                {{t "browse.title"}}
                <FlInput
                    @placeholder={{t "common.find"}}
                    @value={{this.filter}}
                    maxlength="255"
                    autocomplete="off"
                    {{on "input" (fn this.onFilter this.filter)}}
                />
            </h5>

            <Tabs @onChange={{this.changeTab}} @selected={{this.tab}} as |tabs|>
                <tabs.list class="mb-2 small">
                    <tabs.tab @id={{this.tabs.JOURNALS}}>
                        <Browse::Tab @filter={{this.filter}} @count={{this.filteredJournals.length}} @icon="books">
                            {{t "browse.selection.journals"}}
                        </Browse::Tab>
                    </tabs.tab>
                    <tabs.tab @id={{this.tabs.BOOKS}}>
                        <Browse::Tab @filter={{this.filter}} @count={{this.filteredBookCounts}} @icon="book">
                            {{t "browse.selection.books.title"}}
                        </Browse::Tab>
                    </tabs.tab>
                    <tabs.tab @id={{this.tabs.VIDEOS}}>
                        <Browse::Tab @filter={{this.filter}} @count={{this.filteredVideos.length}} @icon="video">
                            {{t "browse.selection.videos"}}
                        </Browse::Tab>
                    </tabs.tab>
                </tabs.list>
                <tabs.panel @id={{this.tabs.JOURNALS}}>
                    <ContentWithPlaceholder
                        @placeholderComponent="loading/widget"
                        @isLoading={{not this.journals}}
                        @options={{hash numLines=10}}
                    >
                        {{#if this.filteredJournals}}
                            <VerticalCollection
                                @items={{this.filteredJournals}}
                                @tagName="ul"
                                @containerSelector=".sidebar-content"
                                @class="list-unstyled"
                                @estimateHeight={{100}}
                                @renderAll={{this.fastboot.isFastBoot}} as |result|
                            >
                                <li class="p-1">
                                    <LinkTo
                                        @route="browse.journal"
                                        @model={{result.id}}
                                        class="d-flex align-items-center justify-content-between"
                                    >
                                        <span class="small w-90">
                                            {{result.srcTitle}}
                                        </span>
                                    </LinkTo>
                                </li>
                            </VerticalCollection>
                        {{else}}
                            <div class="text-muted small">
                                {{t "browse.selection.search.noResults" term=this.filter}}
                            </div>
                        {{/if}}
                    </ContentWithPlaceholder>
                </tabs.panel>

                <tabs.panel @id={{this.tabs.BOOKS}}>
                    <ContentWithPlaceholder
                        @placeholderComponent="loading/widget"
                        @isLoading={{not this.books}}
                        @options={{hash numLines=10}}
                    >
                        <h5>
                            {{t "browse.selection.books.freud"}}
                        </h5>
                        {{#if
                            (or
                                this.filteredBooks.freudsCollectedWorks.GW.books
                                this.filteredBooks.freudsCollectedWorks.SE.books
                            )
                        }}
                            {{#if this.filteredBooks.freudsCollectedWorks.GW.books}}
                                <div class="small w-90 p-1">
                                    <LinkTo @route="browse.book.gw">
                                        {{this.filteredBooks.freudsCollectedWorks.GW.title}}
                                    </LinkTo>
                                </div>
                            {{/if}}
                            {{#if this.filteredBooks.freudsCollectedWorks.SE.books}}
                                <div class="small w-90 p-1">
                                    <LinkTo @route="browse.book.se">
                                        {{this.filteredBooks.freudsCollectedWorks.SE.title}}
                                    </LinkTo>
                                </div>
                            {{/if}}
                        {{else}}
                            <div class="text-muted small">
                                {{t "browse.selection.search.noResults" term=this.filter}}
                            </div>
                        {{/if}}

                        <h5>
                            {{t "browse.selection.books.glossaries"}}
                        </h5>
                        {{#if this.filteredBooks.glossaries}}
                            <ul class="list-unstyled">
                                {{#each this.filteredBooks.glossaries as |result|}}
                                    <li class="p-1">
                                        <LinkTo
                                            @route="read.document"
                                            @model={{result.id}}
                                            class="d-flex align-items-center justify-content-between"
                                        >
                                            <span class="small w-90">
                                                {{result.title}}
                                            </span>
                                        </LinkTo>
                                    </li>
                                {{/each}}
                            </ul>
                        {{else}}
                            <div class="text-muted small">
                                {{t "browse.selection.search.noResults" term=this.filter}}
                            </div>
                        {{/if}}
                        <h5>
                            {{t "browse.selection.books.other"}}
                        </h5>
                        {{#if this.filteredBooks.others}}
                            <VerticalCollection
                                @items={{this.filteredBooks.others}}
                                @tagName="ul"
                                @containerSelector=".sidebar-content"
                                @class="list-unstyled"
                                @estimateHeight={{100}}
                                @renderAll={{this.fastboot.isFastBoot}} as |result|
                            >
                                <li class="p-1">
                                    <LinkTo
                                        @route="read.document"
                                        @model={{result.id}}
                                        class="d-flex align-items-center justify-content-between"
                                    >
                                        <span class="small w-90">
                                            {{result.authors}} ({{result.pub_year}}) {{result.title}}
                                        </span>
                                    </LinkTo>
                                </li>
                            </VerticalCollection>
                        {{else}}
                            <div class="text-muted small">
                                {{t "browse.selection.search.noResults" term=this.filter}}
                            </div>
                        {{/if}}
                    </ContentWithPlaceholder>
                </tabs.panel>

                <tabs.panel @id={{this.tabs.VIDEOS}}>
                    <ContentWithPlaceholder
                        @placeholderComponent="loading/widget"
                        @isLoading={{not this.videos}}
                        @options={{hash numLines=10}}
                    >
                        {{#if this.filteredVideos}}
                            <VerticalCollection
                                @items={{this.filteredVideos}}
                                @tagName="ul"
                                @containerSelector=".sidebar-content"
                                @class="list-unstyled"
                                @estimateHeight={{100}}
                                @renderAll={{this.fastboot.isFastBoot}} as |result|
                            >
                                <li class="p-1">
                                    <LinkTo
                                        @route="read.document"
                                        @model={{result.id}}
                                        class="d-flex align-items-center justify-content-between"
                                    >
                                        <span class="small w-90">
                                            {{result.title}}
                                        </span>
                                    </LinkTo>
                                </li>
                            </VerticalCollection>
                        {{else}}
                            <div class="text-muted small">
                                {{t "browse.selection.search.noResults" term=this.filter}}
                            </div>
                        {{/if}}
                    </ContentWithPlaceholder>
                </tabs.panel>
            </Tabs>
        </div>
    </Sidebar.content>
</Page::Sidebar::Left>