<Page::Sidebar::Left as |Sidebar|>
    <Sidebar.content>
        <div class="p-3 bg-primary">
            <h5 class="d-flex justify-content-between align-items-center mb-3">
                {{t "browse.title"}}
                <FlInput
                    @placeholder={{t "common.find"}}
                    @value={{this.filter}}
                    maxlength="500"
                    autocomplete="off"
                    {{on "input" (fn this.onFilter this.filter)}}
                />
            </h5>

            <Tabs @onChange={{this.changeTab}} @selected={{this.tab}} as |tabs|>
                <tabs.list class="mb-2 small">
                    <tabs.tab @id={{this.tabs.JOURNALS}}>
                        <Browse::Tab @filter={{this.filter}} @count={{this.filteredJournals.length}} @icon="books">
                            {{t "browse.selection.journals"}}
                        </Browse::Tab>
                    </tabs.tab>
                    <tabs.tab @id={{this.tabs.BOOKS}}>
                        <Browse::Tab @filter={{this.filter}} @count={{this.filteredBookCounts}} @icon="book">
                            {{t "browse.selection.books.title"}}
                        </Browse::Tab>
                    </tabs.tab>
                    <tabs.tab @id={{this.tabs.VIDEOS}}>
                        <Browse::Tab @filter={{this.filter}} @count={{this.filteredVideos.length}} @icon="video">
                            {{t "browse.selection.videos"}}
                        </Browse::Tab>
                    </tabs.tab>
                </tabs.list>
                <tabs.panel @id={{this.tabs.JOURNALS}}>
                    <ContentWithPlaceholder
                        @placeholderComponent="loading/widget"
                        @isLoading={{not this.journals}}
                        @options={{hash numLines=10}}
                    >
                        {{#if this.filteredJournals}}
                            <VerticalCollection
                                @items={{this.filteredJournals}}
                                @tagName="ul"
                                @containerSelector=".sidebar-content"
                                @class="list-unstyled"
                                @estimateHeight={{100}}
                                @renderAll={{this.fastboot.isFastBoot}} as |result|
                            >
                                <Browse::SidebarItem @item={{result}} @route="browse.journal">
                                    {{result.srcTitle}}
                                </Browse::SidebarItem>
                            </VerticalCollection>
                        {{else}}
                            <div class="text-muted small">
                                {{t "browse.selection.search.noResults" term=this.filter}}
                            </div>
                        {{/if}}
                    </ContentWithPlaceholder>
                </tabs.panel>

                <tabs.panel @id={{this.tabs.BOOKS}}>
                    <ContentWithPlaceholder
                        @placeholderComponent="loading/widget"
                        @isLoading={{not this.books}}
                        @options={{hash numLines=10}}
                    >
                        <h5>
                            {{t "browse.selection.books.freud"}}
                        </h5>
                        {{#if
                            (or
                                this.filteredBooks.freudsCollectedWorks.GW.books
                                this.filteredBooks.freudsCollectedWorks.SE.books
                            )
                        }}
                            {{#if this.filteredBooks.freudsCollectedWorks.GW.books}}
                                <LinkTo
                                    @route="browse.book.gw"
                                    @activeClass="bg-backdrop"
                                    @class="d-flex align-items-center justify-content-between p-1"
                                >
                                    <span class="small w-90">
                                        {{this.filteredBooks.freudsCollectedWorks.GW.title}}
                                    </span>
                                </LinkTo>
                            {{/if}}
                            {{#if this.filteredBooks.freudsCollectedWorks.SE.books}}
                                <LinkTo
                                    @route="browse.book.se"
                                    @activeClass="bg-backdrop"
                                    @class="d-flex align-items-center justify-content-between p-1"
                                >
                                    <span class="small w-90">
                                        {{this.filteredBooks.freudsCollectedWorks.SE.title}}
                                    </span>
                                </LinkTo>
                            {{/if}}
                        {{else}}
                            <div class="text-muted small">
                                {{t "browse.selection.search.noResults" term=this.filter}}
                            </div>
                        {{/if}}
                        <h5>
                            {{t "browse.selection.books.other"}}
                        </h5>
                        {{#if this.filteredBooks.others}}
                            <VerticalCollection
                                @items={{this.filteredBooks.others}}
                                @tagName="ul"
                                @containerSelector=".sidebar-content"
                                @class="list-unstyled"
                                @estimateHeight={{100}}
                                @renderAll={{this.fastboot.isFastBoot}} as |result|
                            >
                                <li class="p-1">
                                    <Browse::SidebarItem @item={{result}} @route="browse.read">
                                        {{result.authors}} ({{result.pub_year}}) {{result.title}}
                                    </Browse::SidebarItem>
                                </li>
                            </VerticalCollection>
                        {{else}}
                            <div class="text-muted small">
                                {{t "browse.selection.search.noResults" term=this.filter}}
                            </div>
                        {{/if}}
                    </ContentWithPlaceholder>
                </tabs.panel>

                <tabs.panel @id={{this.tabs.VIDEOS}}>
                    <ContentWithPlaceholder
                        @placeholderComponent="loading/widget"
                        @isLoading={{not this.videos}}
                        @options={{hash numLines=10}}
                    >
                        {{#if this.filteredVideos}}
                            <VerticalCollection
                                @items={{this.filteredVideos}}
                                @tagName="ul"
                                @containerSelector=".sidebar-content"
                                @class="list-unstyled"
                                @estimateHeight={{100}}
                                @renderAll={{this.fastboot.isFastBoot}} as |result|
                            >
                                <Browse::SidebarItem @item={{result}} @route="browse.read" class="video-sidebar-item">
                                    {{html-safe result.displayTitle}}
                                </Browse::SidebarItem>
                            </VerticalCollection>
                        {{else}}
                            <div class="text-muted small">
                                {{t "browse.selection.search.noResults" term=this.filter}}
                            </div>
                        {{/if}}
                    </ContentWithPlaceholder>
                </tabs.panel>
            </Tabs>
        </div>
    </Sidebar.content>
</Page::Sidebar::Left>