<CollapsiblePanel
    @scrollableNamespace="sidebar-right"
    @isOpen={{this.isOpen}}
    @toggle={{fn @toggleIsOpen this.widget}}
    class="mb-2 page-widget"
    {{did-insert this.onElementInsert}}
    ...attributes
as |Panel|>
    <Panel.header>
        {{t "relatedInfo.widgets.mostCited.title"}}
        <span class="chart widget-icon" {{on "click" this.viewTable}}>
            <FaIcon @icon="table" @prefix="fal"/>
        </span>
    </Panel.header>
    <Panel.body>
        <ContentWithPlaceholder
            @placeholderComponent="loading/widget"
            @isLoading={{this.isLoading}}
        >

            <ul class="list-unstyled">
                {{#each this.results as |result|}}
                    <li class="mb-2">
                        <div>
                            <LinkTo @route="read.document" @model={{result.id}}>
                                {{html-safe result.title}}
                            </LinkTo>
                            <div class="text-muted small">
                                {{html-safe result.sourceTitle}}
                            </div>
                        </div>
                    </li>
                {{else}}
                    <li class="py-3 mb-0 text-center text-muted">
                        {{t "common.noResults"}}
                    </li>
                {{/each}}
            </ul>
            <LinkTo @route="most-cited">
                {{t "common.viewAll"}}
                <FaIcon @icon="arrow-right" @prefix="fal"/>
            </LinkTo>
        </ContentWithPlaceholder>
    </Panel.body>
</CollapsiblePanel>
