<li class="mb-1 d-flex justify-content-between p-1 {{if @highlight "bg-backdrop"}}">
    <div class="d-flex">
        <div>
            <CheckboxInput @checked={{this.isSelected}} @onChange={{fn this.toggleSelect @item}} />
        </div>
        <div class="d-flex flex-column">
            <a href="" {{on "click" (fn this.openResult @item)}}>
                {{@item.documentRef}}
                {{#if @item.relatedrx}}
                    <span class="mr-2">
                        <FaIcon @icon="book" class="p-0" @prefix="fas" />
                        <EmberTooltip
                            @text={{t "search.item.relatedDocuments"}}
                            @popperContainer="body"
                            @side="left"
                            @spacing={{5}}
                            @effect="slide"
                            @innerClass=""
                        />
                    </span>
                {{/if}}
            </a>
            {{#if (and @showHitsInContext @item.kwicList)}}
                <ul class="font-size-secondary">
                    {{#each @item.kwicList as |searchHit|}}
                        <li>
                            {{html-safe searchHit}}
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </div>
    {{#if (or this.showFavorites this.showReadLater)}}
        <div class="pl-2 d-flex justify-content-end align-items-start">
            {{#if this.showFavorites}}
                <Button::WithTooltip
                    @action={{fn this.toggleFavorite @item}}
                    @iconOnly={{true}}
                    @iconPrefix={{if this.favorited "fas" "fal"}}
                    @icon="heart"
                    @type="link"
                    @tooltip={{t (if this.favorited "search.item.removeFromFavorites" "search.item.addToFavorites")}}
                    class="p-0"
                />
            {{/if}}
            {{#if this.showReadLater}}
                <Button::WithTooltip
                    @action={{fn this.toggleReadLater @item}}
                    @iconOnly={{true}}
                    @iconPrefix={{if this.readLater "fas" "fal"}}
                    @icon="bookmark"
                    @type="link"
                    @tooltip={{t (if this.readLater "search.item.removeFromReadLater" "search.item.addToReadLater")}}
                    class="p-0 ml-2"
                />
            {{/if}}
        </div>
    {{/if}}
</li>