<li class="mb-4 d-flex justify-content-between">
    <div class="d-flex">
        <div>
            <CheckboxInput
                @checked={{this.isSelected}}
                @onChange={{fn @onCheck @item}}
            />
        </div>
        <div class="d-flex flex-column">
            <a href="" {{on "click" (fn @openResult @item)}}>
                {{@item.documentRef}}
                {{#if @item.relatedrx}}
                    <span class="mr-2">
                        <FaIcon @icon="books" class="p-0 "/>
                        <EmberTooltip
                            @text={{t "search.item.relatedDocuments"}}
                            @popperContainer="body"
                            @side="left"
                            @spacing={{5}}
                            @effect="slide"
                            @innerClass=""
                        />
                    </span>
                {{/if}}
            </a>
            {{#if @item.kwicList}}
                <ul class="font-size-secondary">
                    {{#each @item.kwicList as |searchHit|}}
                        <li>{{html-safe searchHit}}</li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </div>
    <div class="pl-2 d-flex justify-content-end align-items-start">
        <Button::WithTooltip
            @action={{fn this.toggleFavorite @item}}
            @iconOnly={{true}}
            @iconPrefix={{if this.favorited 'fas' 'fal'}}
            @icon="heart"
            @type="link"
            @tooltip={{t (if this.favorited "search.item.removeFromFavorites" "search.item.addToFavorites")}}
            @tooltipVisible={{or this.media.isDesktop this.media.isJumbo}}
            class="p-0"
            @title={{t (if this.favorited "search.item.removeFromFavorites" "search.item.addToFavorites")}}
        />
        <Button::WithTooltip
            @action={{fn this.toggleReadLater @item}}
            @iconOnly={{true}}
            @iconPrefix={{if this.readLater 'fas' 'fal'}}
            @icon="bookmark"
            @type="link"
            @tooltip={{t (if this.readLater "search.item.removeFromReadLater" "search.item.addToReadLater")}}
            @tooltipVisible={{or this.media.isDesktop this.media.isJumbo}}
            class="p-0 ml-2"
            @title={{t (if this.readLater "search.item.removeFromReadLater" "search.item.addToReadLater")}}
        />
    </div>
</li>