<CollapsiblePanel
    @scrollableNamespace="sidebar-right"
    @isOpen={{this.isOpen}}
    @toggle={{fn @toggleIsOpen this.widget}}
    class="mb-2"
    {{did-insert this.onElementChange}}
    {{did-update this.onElementChange this.currentUser.preferences}} as |Panel|
>
    <Panel.header
        @title={{t "relatedInfo.widgets.favorites.title"}}
        @tooltip={{this.configuration.content.global.cards.favorites.help}}
    />
    <Panel.body>
        <ContentWithPlaceholder
            @placeholderComponent="loading/widget"
            @isLoading={{this.loadFromUserPreferences.isRunning}}
        >
            <ul class="list-unstyled">
                {{#each this.results as |result|}}
                    <li class="mb-2 d-flex justify-content-between align-items-start">
                        <div>
                            <LinkTo @route="browse.read" @model={{result.id}}>
                                {{html-safe result.documentRef}}
                            </LinkTo>
                        </div>
                        <Button
                            @action={{fn this.removeFavorite result}}
                            @iconOnly={{true}}
                            @icon="times"
                            @type="link"
                            class="p-0 ml-2 text-muted"
                        />
                    </li>
                {{else}}
                    <li class="py-3 mb-0 text-center text-muted">
                        {{#if this.session.isAuthenticated}}
                            {{t "relatedInfo.widgets.favorites.noResults.loggedIn"}}
                        {{else}}
                            {{t "relatedInfo.widgets.favorites.noResults.loggedOut"}}
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        </ContentWithPlaceholder>
    </Panel.body>
</CollapsiblePanel>